li {
  list-style: none;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

@media (min-width: 1200px) {
  .custome-width {
    --width: 350px;
  }
}

// .dropdown-menu {
//   position: static !important;
//   transform: translate(0px, 0px) !important;
// }
