<ion-menu side="end" contentId="main-content1" class="custome-width">
  <ng-container *ngIf="menuType === 'cart'">
    <ion-content>
      <ion-menu-toggle>
        <div class="d-flex ion-justify-content-end py-3 px-3">
          <ion-icon name="close-outline" class="fs-30"></ion-icon>
        </div>
      </ion-menu-toggle>
      <div class="px-4">
        <ion-grid class="p-0">
          <ion-row *ngFor="let item of [0,1,2]" class="mb-5">
            <ion-col size="4" class="p-0">
              <div>
                <ion-img src="assets/images/cart_image.jpg" style="width: 100%; height: auto;"></ion-img>
              </div>
            </ion-col>
            <ion-col size="7" class="ion-align-items-center d-flex">
              <div class="ml-10">
                <p class="mb-0 fs-15 fw-600">Yellow Blouse</p>
                <ion-text class="mb-0 fs-15 fw-400" [color]="'primary'">$30.00 </ion-text>
              </div>
            </ion-col>
            <ion-col size="1" class="ion-align-items-center d-flex ion-justify-content-end p-0">
              <ion-icon name="trash-outline" class="fs-20" [color]="'primary'"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <hr>

      <div class="px-4">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="mb-1">
                <ion-text [color]="'primary'" class="fs-16">Subtotal</ion-text>
              </div>
              <div class="mb-1">
                <ion-text [color]="'primary'" class="fs-16">Vat 5%</ion-text>
              </div>
              <div class="mb-1">
                <ion-text [color]="'primary'" class="fs-16">Discount 20%</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="mb-1">
                <ion-text class="ion-justify-content-end d-flex 16" [color]="'primary'">$90</ion-text>
              </div>
              <div class="mb-1">
                <ion-text class="ion-justify-content-end d-flex 16" [color]="'primary'">$4.5</ion-text>
              </div>
              <div class="mb-1">
                <ion-text class="ion-justify-content-end d-flex 16" [color]="'primary'">- $18.9</ion-text>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col size="6">
              <div>
                <ion-text [color]="'primary'" class="16">Total</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div>
                <ion-text [color]="'primary'" class="ion-justify-content-end d-flex 16">$75.6</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <hr class="mb-0">
      <div class="px-4 py-4">
        <ion-button expand="full" class="neon-btn fs-14 fw-700 br-0" color="dark" type="submit"
          (click)="goTo('home/shopping')">
          VIEW CART
        </ion-button>
      </div>
      <!-- <div class="px-4 mt-2">
        <ion-button expand="full" class="neon-btn fs-14 fw-700 br-0" color="dark" type="submit"
          (click)="goTo('home/shopping')">CHECKOUT
        </ion-button>
      </div> -->
    </ion-content>
  </ng-container>
  <ng-container *ngIf="menuType === 'menu'">
    <ion-content>
      <ion-menu-toggle>
        <div class="d-flex ion-justify-content-end py-3 px-3">
          <ion-icon name="close-outline" class="fs-30"></ion-icon>
        </div>
      </ion-menu-toggle>
      <div class="ion-text-center mt-15">
        <img src="assets/images/logo_25_1x.png" alt="neonCart">
      </div>
      <div class="px-4 py-4">
        <div class="pb-4">
          <hr>
        </div>
        <div class="d-flex">
          <ion-icon name="menu-outline" class="fs-20"></ion-icon>
          <p class="fs-15 fw-800 ml-10">MENU LIST</p>
        </div>
        <ion-accordion-group class="mt-10">
          <ion-accordion value="first" (click)="goTo('home')">
            <ion-item slot="header" color="light">
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group class="mt-10">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Shop</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group class="mt-10">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Pages</ion-label>
            </ion-item>
            <div class="p-2" slot="content" (click)="goTo('auth/login')">Login</div>
            <div class="p-2" slot="content" (click)="goTo('auth/register')">Registration</div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group class="mt-10">
          <ion-accordion value="first" (click)="goTo('home/aboutus')">
            <ion-item slot="header" color="light">
              <ion-label>About Us</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group class="mt-10">
          <ion-accordion value="first" (click)="goTo('home/contact')">
            <ion-item slot="header" color="light">
              <ion-label>Contact</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <hr />
        <div class="d-flex">
          <ion-icon name="person" class="fs-20"> </ion-icon>
          <p class="fs-16 fw-800 ml-10">USER INFO</p>
        </div>
        <div class="d-flex ion-align-items-center">
          <img class="profile-img" src="assets/images/profile.png" alt="">
          <div class="ml-10">
            <h5 class="my-0 fs-15">Johan Doe</h5>
            <p class="fs-12  mb-0 fw-500">Seller</p>
          </div>
        </div>
        <hr />
        <div class="d-flex">
          <ion-icon class="fs-20" name="person-circle-outline" [color]="'primary'"></ion-icon>
          <ion-text class="ml-10 fs-15 fw-500" [color]="'primary'"> Profile</ion-text>
        </div>
        <div class="d-flex py-2">
          <ion-icon class="fs-20" name="settings-outline" [color]="'primary'"></ion-icon>
          <ion-text class="ml-10 fs-15 fw-500" [color]="'primary'"> Settings</ion-text>
        </div>
        <div class="d-flex mb-2" (click)="goTo('/home/order/order-detail')">
          <ion-icon class="fs-20" name="reorder-three-outline" [color]="'primary'"></ion-icon>
          <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Orders</ion-text>
        </div>
        <div class="d-flex">
          <ion-icon class="fs-20" name="log-out-outline" [color]="'primary'"></ion-icon>
          <ion-text class="ml-10 fs-15 fw-500" [color]="'primary'"> Logout</ion-text>
        </div>
      </div>
    </ion-content>
  </ng-container>
</ion-menu>
<ion-header>
  <ion-toolbar [color]="'dark'" class="ion-hide-lg-down">
    <div class="container-lg">
      <ion-row>
        <ion-col size="8">
          <p class="mb-0 fs-14">Welcome to Worldwide Online marketplace Store</p>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-icon class="mr-6" name="logo-facebook"></ion-icon>
          <ion-icon class="mr-6" name="logo-instagram"></ion-icon>
          <ion-icon class="mr-6" name="logo-twitter"></ion-icon>
          <ion-icon class="mr-6" name="logo-whatsapp"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
  <ion-toolbar [color]="'dark'" class="py-8">
    <div class="container-lg">
      <ion-row>
        <ion-col size-md="6" size-lg="3">
          <div>
            <img src="assets/images/logo.png" alt="neonCart">
          </div>
        </ion-col>
        <ion-col size-lg="6" class="ion-hide-lg-down">
          <ul class="d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home')" role="button">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="click-trigger" role="button">Shop</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="click-trigger-pages" role="button">Pages</a>
              <ion-popover trigger="click-trigger-pages" triggerAction="click">
                <ng-template>
                  <div class="ion-padding cursor-pointer">
                    <div class="d-flex ion-justify-content-between" (click)="goTo('auth/login')">
                      <ion-text>Login</ion-text>
                      <img src="assets/icon/arrow-right.svg">
                    </div>
                    <div class="d-flex ion-justify-content-between ion-margin-top" (click)="goTo('auth/register')">
                      <ion-text>Registration</ion-text>
                      <img src="assets/icon/arrow-right.svg">
                    </div>
                  </div>
                </ng-template>
              </ion-popover>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home/aboutus')" role="button">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home/contact')" role="button">Contact Us</a>
            </li>
          </ul>
        </ion-col>
        <ion-col size-md="6" size-lg="3" class="d-flex ion-justify-content-end p-0">
          <div class="d-flex">
            <ion-buttons class="action-btn">
              <ion-button fill="solid">
                <ion-icon name="search-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-down action-btn">
              <ion-button fill="solid" id="click-trigger-profile">
                <ion-icon name="person-outline"></ion-icon>
              </ion-button>
              <ion-popover trigger="click-trigger-profile" class="mt-45" triggerAction="click" side="left">
                <ng-template>
                  <div class="ion-padding cursor-pointer">
                    <div class="d-flex ion-align-items-center">
                      <img class="profile-img" src="assets/images/profile.png" alt="">
                      <div class="ml-10">
                        <h5 class="my-0 fs-15">Johan Doe</h5>
                        <p class="fs-12  mb-0 fw-500">Seller</p>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex">
                      <ion-icon class="fs-20" name="person-circle-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Profile</ion-text>
                    </div>
                    <div class="d-flex py-2">
                      <ion-icon class="fs-20" name="settings-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Settings</ion-text>
                    </div>
                    <div class="d-flex mb-2" (click)="goTo('home/order/order-detail')">
                      <ion-icon class="fs-20" name="reorder-three-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Orders</ion-text>
                    </div>
                    <div class="d-flex">
                      <ion-icon class="fs-20" name="log-out-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Logout</ion-text>
                    </div>
                  </div>
                </ng-template>
              </ion-popover>
            </ion-buttons>

            <ion-buttons class="action-btn" id="main-content1">
              <ion-button fill="solid" (click)="toggleMenu('cart')">
                <ion-icon name="cart-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-up action-btn " id="main-content1">
              <ion-button fill="solid" (click)="toggleMenu('menu')">
                <ion-icon name="menu-outline" class="fs-24"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-searchbar class="p-0"></ion-searchbar>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>