<ion-header>
  <ion-toolbar [color]="'dark'" class="ion-hide-lg-down">
    <div class="container-lg">
      <ion-row>
        <ion-col size="8">
          <p class="mb-0 fs-14">Welcome to Worldwide Online marketplace Store</p>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-icon class="mr-6 cursor-pointer" name="logo-facebook" role="button"
            (click)="goToLink('https://www.facebook.com/')"></ion-icon>
          <ion-icon class="mr-6 cursor-pointer" name="logo-instagram"
            (click)="goToLink('https://www.instagram.com/accounts/login/')"></ion-icon>
          <ion-icon class="mr-6 cursor-pointer" name="logo-twitter" (click)="goToLink('https://twitter.com/')">
          </ion-icon>
          <ion-icon class="mr-6 cursor-pointer" name="logo-whatsapp" (click)="goToLink('https://www.whatsapp.com/')">
          </ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
  <ion-toolbar [color]="'dark'" class="py-8">
    <div class="container-lg">
      <ion-row>
        <ion-col size-md="6" size-lg="3">
          <div>
            <img src="assets/images/logo.png" alt="neonCart" (click)="goTo('home')" class="cursor-pointer">
          </div>
        </ion-col>
        <ion-col size-lg="6" class="ion-hide-lg-down">
          <ul class="d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home')" role="button">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="click-trigger" (click)="goTo('home/shop')" role="button">Shop</a>
            </li>
            <li class="nav-item" *ngIf="!UtilService.isLogin">
              <a class="nav-link" id="click-trigger-pages" role="button" (click)="showPagesPopover($event)">Pages</a>
              <ion-popover #popoverPages [isOpen]="isOpenPagesPopover" (didDismiss)="isOpenPagesPopover = false">
                <ng-template>
                  <div class="ion-padding cursor-pointer">
                    <div class="d-flex ion-justify-content-between" (click)="goTo('auth/login')">
                      <ion-text>Login</ion-text>
                      <img src="assets/icon/arrow-right.svg">
                    </div>
                    <div class="d-flex ion-justify-content-between ion-margin-top" (click)="goTo('auth/register')">
                      <ion-text>Registration</ion-text>
                      <img src="assets/icon/arrow-right.svg">
                    </div>
                  </div>
                </ng-template>
              </ion-popover>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home/aboutus')" role="button">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home/contact')" role="button">Contact Us</a>
            </li>
          </ul>
        </ion-col>
        <ion-col size-md="6" size-lg="3" class="d-flex ion-justify-content-end p-0">
          <div class="d-flex">
            <ion-buttons class="action-btn">
              <ion-button fill="solid" (click)="isShow = !isShow">
                <ion-icon name="search-outline" *ngIf="!isShow"></ion-icon>
                <ion-icon name="close-outline" *ngIf="isShow"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-down action-btn" *ngIf="UtilService.isLogin">
              <ion-button fill="solid" (click)="showModalPopover($event)">
                <ion-icon name="person-outline"></ion-icon>
              </ion-button>
              <ion-popover #popoverProfile [isOpen]="isOpenProfilePopover" (didDismiss)="isOpenProfilePopover = false">
                <ng-template>
                  <div class="ion-padding cursor-pointer">
                    <div class="d-flex ion-align-items-center">
                      <img class="profile-img" [src]="UtilService.loginUserDetails.image">
                      <div class="ml-10">
                        <h5 class="my-0 fs-15">{{ UtilService.loginUserDetails.firstName }}
                          {{ UtilService.loginUserDetails.lastName }}</h5>
                        <p class="fs-12  mb-0 fw-500">{{ UtilService.loginUserDetails.type }}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex" (click)="goTo('home/profile')">
                      <ion-icon class="fs-20" name="person-circle-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Profile
                      </ion-text>
                    </div>
                    <div class="d-flex py-2">
                      <ion-icon class="fs-20" name="settings-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Settings</ion-text>
                    </div>
                    <div class="d-flex mb-2" (click)="goTo('home/order/order-detail')">
                      <ion-icon class="fs-20" name="reorder-three-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Orders</ion-text>
                    </div>
                    <div class="d-flex" (click)="logout()" role="button">
                      <ion-icon class="fs-20" name="log-out-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Logout</ion-text>
                    </div>
                  </div>
                </ng-template>
              </ion-popover>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-down action-btn" *ngIf="UtilService.isLogin">
              <ion-button fill="solid" (click)="goTo('home/cart')">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons class="action-btn" *ngIf="UtilService.isLogin">
              <ion-button fill="solid" (click)="toggleMenu('cart')">
                <ion-icon name="cart-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-up action-btn">
              <ion-button fill="solid" (click)="toggleMenu('menu')">
                <ion-icon name="menu-outline" class="fs-24"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

        </ion-col>
      </ion-row>
      <ion-row *ngIf="isShow">
        <ion-col>
          <ion-searchbar class="p-0" color="light" mode="ios" (ionInput)="changeSearchValue($event)"></ion-searchbar>
          <ion-icon name="checkmark-sharp" class="search-submit" color="dark" (click)="searchValue()"
            *ngIf="searchBoxValue"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>