<ion-menu side="end" contentId="main-content1" class="custome-width">
  <ng-container *ngIf="menuType === 'cart'">
    <ion-header mode="ios">
      <ion-menu-toggle>
        <div class="d-flex ion-justify-content-end py-3 px-3" role="button">
          <ion-icon name="close-outline" class="fs-30"></ion-icon>
        </div>
      </ion-menu-toggle>
    </ion-header>
    <ion-content>
      <div class="ps-2 pe-3">
        <ion-grid class="p-0">
          <div class="side-bar-cart-item">
            <ion-row *ngFor="let item of cartItem;let i = index" class="mb-5">
              <ion-col size="4" class="p-0">
                <div class="car-item-image">
                  <img [src]="item.image" class="cart-image w-100" />
                </div>
              </ion-col>
              <ion-col size="7" class="ion-align-items-center d-flex">
                <div class="ml-10">
                  <p class="mb-0 fs-15 fw-600">{{ item.name }}</p>
                  <ion-text class="mb-0 fs-15 fw-400" [color]="'primary'">${{ getTotal(i) }} </ion-text>
                </div>
              </ion-col>
              <ion-col size="1" class="ion-align-items-center d-flex ion-justify-content-end p-0" role="button">
                <ion-icon name="trash-outline" class="fs-20" [color]="'primary'" role="button"
                  (click)="deleteFromCart(i)"></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
      <hr>

      <div class="px-4">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="mb-1">
                <ion-text [color]="'primary'" class="fs-16">Subtotal</ion-text>
              </div>
              <div class="mb-1">
                <ion-text [color]="'primary'" class="fs-16">Vat 5%</ion-text>
              </div>
              <div class="mb-1">
                <ion-text [color]="'primary'" class="fs-16">Discount 20%</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="mb-1">
                <ion-text class="ion-justify-content-end d-flex 16" [color]="'primary'">${{ totalPayment }}</ion-text>
              </div>
              <div class="mb-1">
                <ion-text class="ion-justify-content-end d-flex 16" [color]="'primary'">
                  ${{ (5 / 100) * totalPayment }}
                </ion-text>
              </div>
              <div class="mb-1">
                <ion-text class="ion-justify-content-end d-flex 16" [color]="'primary'">-
                  ${{ (20 / 100) * totalPayment}}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col size="6">
              <div>
                <ion-text [color]="'primary'" class="16">Total</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div>
                <ion-text [color]="'primary'" class="ion-justify-content-end d-flex 16">
                  ${{ (75 / 100) * totalPayment }}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <hr class="mb-0">
      <div class="px-4 py-4">
        <ion-button expand="full" class="dark-btn fs-14 fw-700 br-0" type="submit" (click)="goTo('home/shopping')">
          VIEW CART
        </ion-button>
      </div>
    </ion-content>
  </ng-container>
  <ng-container *ngIf="menuType === 'menu'">
    <ion-content>
      <ion-menu-toggle>
        <div class="d-flex ion-justify-content-end py-3 px-3">
          <ion-icon name="close-outline" class="fs-30"></ion-icon>
        </div>
      </ion-menu-toggle>
      <div class="d-flex ion-text-center px-4" *ngIf="UtilService.isLogin">
        <img class="profile-img" [src]="UtilService.loginUserDetails.image">
        <div class="ml-10 ion-text-start">
          <h5 class="my-0 fs-20 fw-700">{{ UtilService.loginUserDetails.firstName }}
            {{ UtilService.loginUserDetails.lastName }} <span class="fs-14 fw-400 text-muted"> (CEO)</span> </h5>
          <p class="fs-16 mb-0 fw-500">{{ UtilService.loginUserDetails.type }}</p>
        </div>
      </div>
      <div class="d-flex ion-text-center px-4" *ngIf="!UtilService.isLogin">
        <img class="profile-img" src="assets/images/user_icon.png" alt="">
        <div class="ml-10 ion-text-start">
          <h5 class="my-0 fs-20 fw-700">Demo <span class="fs-14 fw-400 text-muted"> (Post)</span> </h5>
          <p class="fs-16 mb-0 fw-500">Test</p>
        </div>
      </div>
      <div class="px-3 pt-4">
        <hr class="m-0">
      </div>
      <div class="px-3 py-4">
        <div class="ion-padding menu-item-text" (click)="goTo('auth/login')" *ngIf="!UtilService.isLogin">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="log-in-outline" class="mr-10 fs-20"></ion-icon>Login
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('auth/register')" *ngIf="!UtilService.isLogin">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="checkbox-outline" class="mr-10 fs-20"></ion-icon>
            Registration
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('home')">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="home-outline" class="mr-10 fs-20"></ion-icon>Home
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('home/shop')">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="card-outline" class="mr-10 fs-20"></ion-icon>Shop
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('home/cart')">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="heart-outline" class="mr-10 fs-20"></ion-icon>Favorites
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('home/profile')" *ngIf="UtilService.isLogin">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="person-circle-outline" class="mr-10 fs-20"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('/home/order/order-detail')" *ngIf="UtilService.isLogin">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="document-text-outline" class="mr-10 fs-20"></ion-icon>
            <ion-label>Orders</ion-label>
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('home/aboutus')">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="albums-outline" class="mr-10 fs-20"></ion-icon>
            <ion-label>About Us</ion-label>
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="goTo('home/contact')">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="call-outline" class="mr-10 fs-20"></ion-icon>
            <ion-label>Contact</ion-label>
          </ion-text>
        </div>
        <div class="ion-padding menu-item-text" (click)="logout()" *ngIf="UtilService.isLogin">
          <ion-text class="d-flex ion-align-items-center">
            <ion-icon name="lock-closed-outline" class="mr-10 fs-20"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-text>
        </div>
      </div>
    </ion-content>
  </ng-container>
</ion-menu>
<ion-header>
  <ion-toolbar [color]="'dark'" class="ion-hide-lg-down">
    <div class="container-lg">
      <ion-row>
        <ion-col size="8">
          <p class="mb-0 fs-14">Welcome to Worldwide Online marketplace Store</p>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-icon class="mr-6 cursor-pointer" name="logo-facebook" role="button"
            (click)="goToLink('https://www.facebook.com/')"></ion-icon>
          <ion-icon class="mr-6 cursor-pointer" name="logo-instagram"
            (click)="goToLink('https://www.instagram.com/accounts/login/')"></ion-icon>
          <ion-icon class="mr-6 cursor-pointer" name="logo-twitter" (click)="goToLink('https://twitter.com/')">
          </ion-icon>
          <ion-icon class="mr-6 cursor-pointer" name="logo-whatsapp" (click)="goToLink('https://www.whatsapp.com/')">
          </ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
  <ion-toolbar [color]="'dark'" class="py-8">
    <div class="container-lg">
      <ion-row>
        <ion-col size-md="6" size-lg="3">
          <div>
            <img src="assets/images/logo.png" alt="neonCart" (click)="goTo('home')" class="cursor-pointer">
          </div>
        </ion-col>
        <ion-col size-lg="6" class="ion-hide-lg-down">
          <ul class="d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home')" role="button">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="click-trigger" (click)="goTo('home/shop')" role="button">Shop</a>
            </li>
            <li class="nav-item" *ngIf="!UtilService.isLogin">
              <a class="nav-link" id="click-trigger-pages" role="button" (click)="showPagesPopover($event)">Pages</a>
              <ion-popover #popoverPages [isOpen]="isOpenPagesPopover" (didDismiss)="isOpenPagesPopover = false">
                <ng-template>
                  <div class="ion-padding cursor-pointer">
                    <div class="d-flex ion-justify-content-between" (click)="goTo('auth/login')">
                      <ion-text>Login</ion-text>
                      <img src="assets/icon/arrow-right.svg">
                    </div>
                    <div class="d-flex ion-justify-content-between ion-margin-top" (click)="goTo('auth/register')">
                      <ion-text>Registration</ion-text>
                      <img src="assets/icon/arrow-right.svg">
                    </div>
                  </div>
                </ng-template>
              </ion-popover>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home/aboutus')" role="button">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goTo('home/contact')" role="button">Contact Us</a>
            </li>
          </ul>
        </ion-col>
        <ion-col size-md="6" size-lg="3" class="d-flex ion-justify-content-end p-0">
          <div class="d-flex">
            <ion-buttons class="action-btn">
              <ion-button fill="solid" (click)="isShow = !isShow">
                <ion-icon name="search-outline" *ngIf="!isShow"></ion-icon>
                <ion-icon name="close-outline" *ngIf="isShow"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-down action-btn" *ngIf="UtilService.isLogin">
              <ion-button fill="solid" (click)="showModalPopover($event)">
                <ion-icon name="person-outline"></ion-icon>
              </ion-button>
              <ion-popover #popoverProfile [isOpen]="isOpenProfilePopover" (didDismiss)="isOpenProfilePopover = false">
                <ng-template>
                  <div class="ion-padding cursor-pointer">
                    <div class="d-flex ion-align-items-center">
                      <img class="profile-img" [src]="UtilService.loginUserDetails.image">
                      <div class="ml-10">
                        <h5 class="my-0 fs-15">{{ UtilService.loginUserDetails.firstName }}
                          {{ UtilService.loginUserDetails.lastName }}</h5>
                        <p class="fs-12  mb-0 fw-500">{{ UtilService.loginUserDetails.type }}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex" (click)="goTo('home/profile')">
                      <ion-icon class="fs-20" name="person-circle-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Profile
                      </ion-text>
                    </div>
                    <div class="d-flex py-2">
                      <ion-icon class="fs-20" name="settings-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Settings</ion-text>
                    </div>
                    <div class="d-flex mb-2" (click)="goTo('home/order/order-detail')">
                      <ion-icon class="fs-20" name="reorder-three-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Orders</ion-text>
                    </div>
                    <div class="d-flex" (click)="logout()" role="button">
                      <ion-icon class="fs-20" name="log-out-outline" [color]="'primary'"></ion-icon>
                      <ion-text class="ml-10 fs-15 fw-400" [color]="'primary'"> Logout</ion-text>
                    </div>
                  </div>
                </ng-template>
              </ion-popover>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-down action-btn" id="main-content1" *ngIf="UtilService.isLogin">
              <ion-button fill="solid" (click)="goTo('home/cart')">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons class="action-btn" id="main-content1" *ngIf="UtilService.isLogin">
              <ion-button fill="solid" (click)="toggleMenu('cart')">
                <ion-icon name="cart-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons class="ion-hide-lg-up action-btn " id="main-content1">
              <ion-button fill="solid" (click)="toggleMenu('menu')">
                <ion-icon name="menu-outline" class="fs-24"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>

        </ion-col>
      </ion-row>
      <ion-row *ngIf="isShow">
        <ion-col>
          <ion-searchbar class="p-0" color="light" mode="ios" (ionInput)="changeSearchValue($event)"></ion-searchbar>
          <ion-icon name="checkmark-sharp" class="search-submit" color="dark" (click)="searchValue()"
            *ngIf="searchBoxValue"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>
