.bg-img {
  // background-image: url('../../../assets/images/loginpagebg.jpg');
}

.card-img {
  background-image: url('../../../assets/images/loginpagecard.png');
}

.social-icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-icon {
  background-color: rgb(59, 89, 152);
}

.twitter-icon {
  background-color: rgb(29, 161, 242);
}

.google-icon {
  background-color: rgb(234, 67, 53);
}


