.page-background {
  background-image: url('../../../assets/images/reg_bg_01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 480px center;

}

ion-item {
  --background: #f0f2f1;
  --color: inherit;
}
