<app-header></app-header>
<ion-content [fullscreen]="true" [color]="'primary'">
  <div class="page-background">
    <div class="container p-lg-5 py-5
    ">
      <ion-card class="card-background card-img reg_form_wrap p-4" [color]="'medium'">
        <ion-grid>
          <ion-row>
            <ion-col size-md="8" size-lg="8">
              <form>
                <div class="mb-5">
                  <h2 class="ion-text-center fs-40 fw-700 text-dark mt-0">LOGIN</h2>
                </div>
                <div class="login-input">
                  <ion-list class="ion-no-padding">
                    <ion-item class="ion-no-padding">
                      <ion-input placeholder="Username"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input placeholder="Password" type="Password"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-text-end py-4">
                    <ion-text class="fs-13 fw-500 cursor-pointer" color="primary"
                      [routerLink]="['/auth/forgot-password']">FORGOT
                      PASSWORD?</ion-text>
                  </div>
                  <div>
                    <ion-button expand="block" class="neon-btn fs-14 fw-700" color="danger" type="submit">LOGIN
                    </ion-button>
                  </div>
                  <div class="ion-text-center mt-5">
                    <ion-text class="fs-14 fw-600" color="primary">OR LOGIN WITH</ion-text>
                    <div class="d-flex ion-justify-content-center ion-margin-top">
                      <div class="social-icon facebook-icon">
                        <ion-icon name="logo-facebook" class="fs-20" [color]="'light'"></ion-icon>
                      </div>
                      <div class="social-icon twitter-icon  ion-margin-horizontal">
                        <ion-icon name="logo-twitter" class="fs-20" [color]="'light'"></ion-icon>
                      </div>
                      <div class="social-icon google-icon">
                        <ion-icon name="logo-google" class="fs-20" [color]="'light'"></ion-icon>
                      </div>
                    </div>
                  </div>
                  <div class="mt-5 ion-text-center">
                    <ion-text class="fs-14 fw-600" color="primary">HAVE NOT ACCOUNT YET?</ion-text>
                  </div>
                  <div class="mt-8 ion-text-center">
                    <a class="fs-20 fw-700 no-underline text-dark" [routerLink]="['/auth/register']">SIGN UP</a>
                  </div>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>