<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container p-5 table-container">
    <ion-grid class="ion-text-wrap">
      <ion-row class="main-row-bg ion-hide-lg-down">
        <ion-col size="5" class="ion-align-items-center d-flex">
          <h2 class="fs-18 fw-800 m-0">PRODUCT NAME</h2>
        </ion-col>
        <ion-col size="2">
          <h2 class="fs-18 fw-800">PRICE</h2>
        </ion-col>
        <ion-col size="3">
          <h2 class="fs-18 fw-800">QUANTITY</h2>
        </ion-col>
        <ion-col size="2">
          <h2 class="fs-18 fw-800">TOTAL PRICE</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let item of [0,1,2]">
        <ion-row class="py-25">
          <ion-col size="12" sizeLg="5">
            <ion-row>
              <ion-col size="12" sizeLg="6">
                <div class="d-flex">
                  <div class="ion-align-items-center d-flex">
                    <ion-buttons class="cart-close-btn">
                      <ion-button>
                        <ion-icon name="close" class="fs-30"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </div>
                  <div class="cart-image-div p-10">
                    <img src="assets/images/cartbag_image.jpg" alt="" class="image-set">
                  </div>
                </div>
              </ion-col>
              <ion-col size="12" sizeLg="6" class="ion-align-items-center d-flex">
                <div>
                  <h2 class="fs-18 fw-700 ml-10">Men's Polo T-shirt</h2>
                  <span class="ml-10 text-primary">Clothes</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="6" sizeLg="2" class="ion-align-items-center d-flex">
            <div>
              <ion-text class="fs-18 fw-800" [color]="'primary'">$ 69.00</ion-text>
            </div>
          </ion-col>
          <ion-col size="6" sizeLg="3" class="ion-align-items-center d-flex">
            <div class="quantity_input">
              <form>
                <span>-</span>
                <input class="input-number" type="text" >
                <span>+</span>
              </form>
            </div>
          </ion-col>
          <ion-col size="12" sizeLg="2" class="ion-align-items-center d-flex">
            <div>
              <ion-text class="fs-18 fw-800" [color]="'success'">$ 138.00</ion-text>
            </div>
          </ion-col>
        </ion-row>
        <hr class="m-0">
      </div>
      <ion-row class="py-30">
        <ion-col size="12" sizeLg="3">
          <div>
            <input type="text" class="form-control custom" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Coupon Code">
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="2" class="p-0">
          <ion-button expand="block" class="neon-btn fs-14 fw-700 br-0" color="danger" type="submit">APPLY COUPON
          </ion-button>
        </ion-col>
        <ion-col size="12" sizeLg="5"></ion-col>
        <ion-col size="12" sizeLg="2" class="p-0">
          <ion-button expand="block" class="neon-btn fs-14 fw-700 br-0" color="primary" type="submit">UPDATE CART
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-end d-flex ">
        <ion-col size="12" sizeLg="4">
          <ion-card class="m-0">
            <ion-card-header>
              <h3 class="fs-24 text-dark fw-700 text-center">CART TOTAL</h3>
            </ion-card-header>
            <div class="py-30 px-5">
              <ion-row>
                <ion-col>
                  <ion-text class="fs-15 fw-800 text-dark">SUBTOTAL</ion-text>
                </ion-col>
                <ion-col class="ion-justify-content-end d-flex">
                  <ion-text class="fs-15 fw-800">$197.99</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text class="fs-15 fw-800 text-dark">TOTAL</ion-text>
                </ion-col>
                <ion-col class="ion-justify-content-end d-flex">
                  <ion-text class="fs-18 fw-800 text-success">$197.99</ion-text>
                </ion-col>
              </ion-row>
            </div>
            <div class="px-5 mb-30">
              <ion-button expand="block" class="neon-btn fs-14 fw-700 br-0" color="success" type="submit">Proceed to
                Checkout
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
