<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container p-5 table-container ion-hide-lg-down">
    <ion-grid class="ion-text-wrap">
      <ion-row class="main-row-bg ion-hide-lg-down">
        <ion-col size="2" class="ion-align-items-center d-flex">
          <h2 class="fs-18 fw-800 m-0">Image</h2>
        </ion-col>
        <ion-col size="2" class="ion-align-items-center d-flex">
          <h2 class="fs-18 fw-800 m-0">Product Name</h2>
        </ion-col>
        <ion-col size="2" class="ion-align-items-center d-flex">
          <h2 class="fs-18 fw-800 m-0">Brand</h2>
        </ion-col>
        <ion-col size="2" class="ion-align-items-center d-flex">
          <h2 class="fs-18 fw-800 m-0">Color</h2>
        </ion-col>
        <ion-col size="2">
          <h2 class="fs-18 fw-800">Price</h2>
        </ion-col>
        <ion-col size="2">
          <h2 class="fs-18 fw-800">Delete</h2>
        </ion-col>
      </ion-row>
      <div *ngIf="UtilService.favoritesItems && UtilService.favoritesItems.length <= 0">
        <h3 class="fs-16 fw-400 text-muted ion-margin-start">No data found</h3>
      </div>
      <div *ngFor="let item of UtilService.favoritesItems;let i = index" class="mt-3">
        <ion-row>
          <ion-col size="12" sizeLg="2">
            <!-- <div class="favorites-image-div p-10">
              <img [src]="item.image" class="image-set" role="button" (click)="goTO('/home/product-detail')">
            </div> -->
            <div class="cart-image-div p-10">
              <img [src]="item.image" alt="" class="image-set" (click)="goTO('/home/product-detail')" role="button">
            </div>
          </ion-col>
          <ion-col size="12" sizeLg="2" class="ion-align-items-center d-flex">
            <div>
              <h2 class="fs-18 fw-600 ml-10">{{ item.title }}</h2>
              <span class="ml-10 text-primary">{{ item.type }}</span>
            </div>
          </ion-col>
          <ion-col size="12" sizeLg="2" class="ion-align-items-center d-flex">
            <div>
              <ion-text class="fs-18 fw-300 ml-10">{{ item.brands }}</ion-text>
            </div>
          </ion-col>
          <ion-col size="12" sizeLg="2" class="ion-align-items-center d-flex">
            <div>
              <ion-text class="fs-18 fw-300 ml-10">{{ item.color }}</ion-text>
            </div>
          </ion-col>
          <ion-col size="12" sizeLg="2" class="ion-align-items-center d-flex">
            <div>
              <ion-text class="fs-18 fw-600" [color]="'success'">${{ item.price }}</ion-text>
            </div>
          </ion-col>
          <ion-col size="12" sizeLg="2" class="ion-align-items-center d-flex">
            <div class="ion-align-items-center d-flex">
              <ion-buttons class="cart-close-btn">
                <ion-button (click)="deleteFromFavorites(i)">
                  <ion-icon name="trash-outline" class="fs-30"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
        <hr>
      </div>
    </ion-grid>
  </div>
  <div class="ion-hide-lg-up p-3">
    <div *ngIf="UtilService.favoritesItems && UtilService.favoritesItems.length <= 0">
      <h3 class="fs-16 fw-400 text-muted ion-margin">No data found</h3>
    </div>

    <div *ngFor="let item of UtilService.favoritesItems;let i = index">
      <ion-card class="ion-hide-lg-up main-row-bg p-1 mx-0 ion-margin-top">
        <ion-grid class="p-0">
          <ion-row>
            <ion-col size="6">
              <ion-avatar (click)="goTO('/home/product-detail')">
                <img [src]="item.image" />
              </ion-avatar>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-end d-flex">
              <div>
                <ion-icon name="trash-outline" class="fs-20" (click)="deleteFromFavorites(i)"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-16 fw-300">Title</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-16 fw-300 text-dark">{{item.title}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-16 fw-300">Type</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-16 fw-300 text-dark">{{item.type}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-16 fw-300">Brand</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-16 fw-300 text-dark">{{item.brands}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-16 fw-300">PRICE</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-16 fw-300 text-dark">${{item.price}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <!-- </div> -->
  <app-footer></app-footer>
</ion-content>
