<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="page-background bg-img">
      <div class="container p-5">
        <ion-card [color]="'medium'" class="about-us-terms-card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-text class="fs-32 fw-700 main-div-text">
                    This Checklist has the same optimizations we used
                    to optimize stores that have generated over
                    $400 million in revenue. This checklist will walk you through:</ion-text>
                </div>
                <ion-row class="mt-5">
                  <ion-col size="1" class="ps-5 d-none d-lg-block">
                    <div class="blue-ball"></div>
                  </ion-col>
                  <ion-col size="11">
                    <h4 class="mt-0 fs-24 fw-600">HOME PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">Decrease your bounce rate and increase your clickthrough rate by focusing on
                      three crucial
                      elements.</p>
                  </ion-col>
                </ion-row>
                <ion-row class="mt-5">
                  <ion-col size="1" class="ps-5 d-none d-lg-block">
                    <div class="blue-ball "></div>
                  </ion-col>
                  <ion-col size="11">
                    <h4 class="mt-0 fs-24 fw-600">COLLECTION PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">The most important elements of your collection pages and what you need to do
                      to get visitors to go to your product pages.</p>
                  </ion-col>
                </ion-row>
                <ion-row class="mt-5">
                  <ion-col size="1" class="ps-5 d-none d-lg-block">
                    <div class="blue-ball "></div>
                  </ion-col>
                  <ion-col size="11">
                    <h4 class="mt-0 fs-24 fw-600">PRODUCT PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">Our winning optimizations that will turn your visitors from browsers into
                      shoppers and persuade them to add your product to their cart.</p>
                  </ion-col>
                </ion-row>
                <ion-row class="mt-5">
                  <ion-col size="1" class="ps-5 d-none d-lg-block">
                    <div class="blue-ball "></div>
                  </ion-col>
                  <ion-col size="11">
                    <h4 class="mt-0 fs-24 fw-600">CART PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">The 5 tweaks that will decrease your cart abandonment rate and motivate your
                      visitors to move to the next step of the buy journey.</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>