// .about-us-terms-card {
//   // padding: 30px 90px;
//   border-radius: 50px;
//   border: 1px solid #92949c;
// }


@media screen and (max-width: 820px) {
  // .about-us-terms-card {
  //   padding: 5px;
  //   border-radius: 30px;
  // }

  // .main-div-text {
  //   font-size: 20px;
  // }

  // h4 {
  //   font-size: 18px;
  // }

  .p-5 {
    padding: 0px !important;
  }
}


@media (min-width: 0px) and (max-width: 400px) {
  .p-5 {
    padding: 0px !important;
  }
}

.item-image {
  min-height: 400px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;


  .camera-image-height {
    max-height: 450px;
    height: 100%;
  }
}
