<app-header></app-header>
<!-- <ion-content [fullscreen]="true">
  <div class="container">
    <div class="page-background">
      <div class="my-5">
        <ion-card [color]="'medium'" class="about-us-terms-card p-5 m-0">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-text class="fs-32 fw-700 main-div-text">
                    This Checklist has the same optimizations we used
                    to optimize stores that have generated over
                    $400 million in revenue. This checklist will walk you through:</ion-text>
                </div>
                <ion-row class="mt-5">
                  <ion-col size="12">
                    <h4 class="mt-0 fs-24 fw-600">HOME PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">Decrease your bounce rate and increase your clickthrough rate by focusing on
                      three crucial
                      elements.</p>
                  </ion-col>
                </ion-row>
                <ion-row class="mt-md-5">
                  <ion-col size="12">
                    <h4 class="mt-0 fs-24 fw-600">COLLECTION PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">The most important elements of your collection pages and what you need to do
                      to get visitors to go to your product pages.</p>
                  </ion-col>
                </ion-row>
                <ion-row class="mt-md-5">
                  <ion-col size="12">
                    <h4 class="mt-0 fs-24 fw-600">PRODUCT PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">Our winning optimizations that will turn your visitors from browsers into
                      shoppers and persuade them to add your product to their cart.</p>
                  </ion-col>
                </ion-row>
                <ion-row class="mt-md-5">
                  <ion-col size="12">
                    <h4 class="mt-0 fs-24 fw-600">CART PAGE OPTIMIZATION:</h4>
                    <p class="fs-18 fw-500">The 5 tweaks that will decrease your cart abandonment rate and motivate your
                      visitors to move to the next step of the buy journey.</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content> -->

<ion-content>
  <div class="container py-3 py-lg-5 ">
    <ion-row>
      <ion-col class="text-center">
        <h1 class="fs-44 mt-0">About Us</h1>
        <ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem laudantium
          natus cumque repellat vitae voluptatem adipisci omnis ratione quam perspiciatis eius nulla placeat autem sequi
          sit!</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="pt-3 pt-md-5">
      <ion-col size="12" sizeMd="6" sizeLg="6" class="p-lg-5">
        <h1 class="fs-44 mt-0">Our Vision</h1>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem
            laudantium
          <p>
        </div>
        <div>
          <p>
            perspiciatis eius nulla placeat autem sequi sit!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugiat a,
          </p>
        </div>
        <div>
          <p>
            sit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem laudantium
            natus cumque
          </p>
        </div>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card>
          <div class="item-image cursor-pointer">
            <img src="./../../assets/images/vision.png" class="camera-image-height">
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="6" class="order-2 order-md-0">
        <ion-card>
          <div class="item-image cursor-pointer">
            <img src="./../../assets/images/our-approch.png" class="camera-image-height">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6" class="p-lg-5">
        <h1 class="fs-44 mt-lg-0">Our Approch</h1>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem
            laudantium
          <p>
        </div>
        <div>
          <p>
            perspiciatis eius nulla placeat autem sequi sit!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugiat a,
          </p>
        </div>
        <div>
          <p>
            sit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem laudantium
            natus cumque
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="6" class="p-lg-5">
        <h1 class="fs-44 mt-lg-0">Our Process</h1>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem
            laudantium
          <p>
        </div>
        <div>
          <p>
            perspiciatis eius nulla placeat autem sequi sit!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugiat a,
          </p>
        </div>
        <div>
          <p>
            sit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat a, vel amet exercitationem laudantium
            natus cumque
          </p>
        </div>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card>
          <div class="item-image cursor-pointer">
            <img src="./../../assets/images/ecommerce_service.png" class="camera-image-height">
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>