<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="page-background bg-img">
    <div class="container p-lg-5 py-5">
      <ion-card class="card-background card-img reg_form_wrap p-4" [color]="'medium'">
        <ion-grid>
          <ion-row>
            <ion-col size-md="8" size-lg="8">
              <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="mb-5">
                  <h2 class="ion-text-center fs-40 fw-700 text-dark mt-0">REGISTER</h2>
                </div>
                <div>
                  <ion-list class="ion-no-padding">
                    <ion-item class="ion-no-padding">
                      <ion-input type="text" placeholder="First Name" formControlName="firstname"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.firstname.errors" class="text-danger">
                    <p *ngIf="submitted && l.firstname.errors.required">First Name is required</p>
                  </ion-text>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input type="text" placeholder="Last Name" formControlName="lastname"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.lastname.errors" class="text-danger">
                    <p *ngIf="submitted && l.lastname.errors.required">Last Name is required</p>
                  </ion-text>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input type="text" placeholder="Company Name" formControlName="companyname"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.companyname.errors" class="text-danger">
                    <p *ngIf="submitted && l.companyname.errors.required">Company Name is required</p>
                  </ion-text>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.email.errors" class="text-danger">
                    <p *ngIf="submitted && l.email.errors.required">Email is required</p>
                    <p *ngIf="l.email.errors.pattern">Email must be a valid email
                      address </p>
                  </ion-text>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input type="text" placeholder="Phone" formControlName="phone"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.phone.errors" class="text-danger">
                    <p *ngIf="submitted && l.phone.errors.required">Phone is required</p>
                  </ion-text>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input type="password" placeholder="Password" type="password" formControlName="password">
                      </ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.password.errors" class="text-danger">
                    <p *ngIf="submitted && l.password.errors.required">Password is required</p>
                  </ion-text>
                  <ion-list class="ion-no-padding mt-15">
                    <ion-item class="ion-no-padding">
                      <ion-input type="password" placeholder="Confirm Password" type="password"
                        formControlName="confirmpassword"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.confirmpassword.errors" class="text-danger">
                    <p *ngIf="submitted && l.confirmpassword.errors.required">Confirm Password is required</p>
                  </ion-text>
                  <div class="text-danger fs-14" *ngIf="registerForm.value.password &&
                                              registerForm.value.confirmpassword">
                    <div *ngIf=" registerForm.value.password !==
                                                 registerForm.value.confirmpassword">
                      New password and confirm password not match
                    </div>
                  </div>
                  <div class="d-flex py-4">
                    <ion-radio-group value="custom-checked">
                      <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
                    </ion-radio-group>
                    <ion-text class="fs-16 fw-400 ml-10" color="primary">I agree to the Terms of User
                    </ion-text>
                  </div>
                  <div class="mb-5">
                    <ion-button expand="block" shape="round" class="danger-btn fs-14 fw-700" type="submit">CREATE
                      ACCOUNT
                    </ion-button>
                  </div>
                  <div class="ion-text-center">
                    <ion-text class="fs-14 fw-600" color="primary">HAVE NOT ACCOUNT YET?</ion-text>
                  </div>
                  <div class="mt-8 ion-text-center">
                    <a class="fs-20 fw-700  no-underline text-dark" [routerLink]="['/auth/login']">LOGIN
                    </a>
                  </div>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
