<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container ion-hide-lg-down">
    <div class="page-background">
      <div class="container p-5">
        <ion-card class="p-2">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <h1 class="text-dark m-0">Orders</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" sizeLg="4" class="p-0">
                <ion-searchbar placeholder="Search by any order..."></ion-searchbar>
              </ion-col>
              <ion-col sizeLg="4"></ion-col>
              <ion-col size="6" sizeLg="2" class="d-flex ion-align-items-center">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Products</option>
                  <option value="1">Camera</option>
                  <option value="2">Bluetooth</option>
                  <option value="3">Speaker</option>
                </select>
              </ion-col>
              <ion-col size="6" sizeLg="2" class="d-flex ion-align-items-center">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Status</option>
                  <option value="1">Cancelled</option>
                  <option value="2">Booked</option>
                  <option value="3">In Cart</option>
                  <option value="3">Closed</option>
                  <option value="3">Request</option>
                </select>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row class="main-row-bg  p-0">
              <ion-col size="1" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500 ">CREATED</h2>
              </ion-col>
              <ion-col size="1" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500">PRODUCT</h2>
              </ion-col>
              <ion-col size="2" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500">STAT TIME</h2>
              </ion-col>
              <ion-col size="2" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500">END TIME</h2>
              </ion-col>
              <ion-col size="2" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500 ">STATUS</h2>
              </ion-col>
              <ion-col size="2" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500 ">DELIVERY STATUS</h2>
              </ion-col>
              <ion-col size="1" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500 ">PRICE</h2>
              </ion-col>
              <ion-col size="1" class="ion-justify-content-center d-flex">
                <h2 class="fs-18 fw-500 ">Action</h2>
              </ion-col>
            </ion-row>
            <hr>
            <div *ngFor="let item of orderList">
              <ion-row>
                <ion-col size="1" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300 text-dark">{{item.created}}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="1" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300 text-dark">{{item.product}}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="2" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300 text-dark">{{item.start_time}}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="2" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300 text-dark">{{item.end_time}}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="2" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300 text-dark">
                      <ion-badge [ngClass]="(item.status === 'Cancelled') ? 'cancelled-bg' : (item.status === 'Booked') ? 'booked-bg':
                  (item.status === 'Request') ? 'request-bg' : 'other-bg'">{{item.status}}
                      </ion-badge>
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col size="2" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300 text-dark">{{item.delivery_status}}
                    </ion-text>
                  </div>
                </ion-col>
                <ion-col size="1" class="ion-justify-content-center d-flex">
                  <div>
                    <ion-text class="fs-15 fw-300" [color]="'success'">{{item.price}}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="1" class="ion-justify-content-center d-flex cursor-pointer">
                  <div>
                    <ion-icon name="eye-outline" class="fs-20" routerLink="/home/order"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>

  <ng-container>
    <div class="ion-padding ion-hide-lg-up p-2">
      <h2 class="m-0">Orders</h2>
      <ion-row>
        <ion-col size="12" sizeLg="3">
          <!-- <ion-searchbar show-cancel-button="focus" placeholder="Search by any order..." mode="ios" class="p-0">
          </ion-searchbar> -->
          <ion-searchbar placeholder="Search by any order..." class="p-0" mode="ios"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-select label="Products">
            <ion-select-option value="Camera">Camera</ion-select-option>
            <ion-select-option value="Bluetooth">Bluetooth</ion-select-option>
            <ion-select-option value="Speaker">Speaker</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6">
          <ion-select label="Status">
            <ion-select-option value="Camera">Camera</ion-select-option>
            <ion-select-option value="Bluetooth">Bluetooth</ion-select-option>
            <ion-select-option value="Speaker">Speaker</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>
    <div *ngFor="let item of orderList">
      <ion-card class="ion-hide-lg-up main-row-bg p-0 ion-margin-top">
        <ion-grid class="p-0">
          <ion-row>
            <ion-col size="6">
              <ion-text class="hs-18 fw-400 text-dark">{{item.created}}</ion-text>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-end d-flex">
              <div>
                <ion-icon name="eye-outline" class="fs-20" routerLink="/home/order"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-15 fw-300">PRODUCTS</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-15 fw-300 text-dark">{{item.product}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-15 fw-300">START TIME</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-15 fw-300 text-dark">{{item.start_time}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-15 fw-300">END TIME</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-15 fw-300 text-dark">{{item.end_time}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-15 fw-300">STATUS</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-15 fw-300 text-dark">
                <ion-badge [ngClass]="(item.status === 'Cancelled') ? 'cancelled-bg' : (item.status === 'Booked') ? 'booked-bg':
                  (item.status === 'Request') ? 'request-bg' : 'other-bg'">
                  {{item.status}}
                </ion-badge>
              </ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-15 fw-300">DELIVERY STATUS</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-15 fw-300 text-dark">{{item.delivery_status}}</ion-text>
            </ion-col>
          </ion-row>
          <hr class="ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text class="fs-15 fw-300">PRICE</ion-text>
            </ion-col>
            <ion-col class="ion-justify-content-end d-flex">
              <ion-text class="fs-15 fw-300 text-dark">{{item.price}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ng-container>
  <app-footer></app-footer>
</ion-content>
