<app-header></app-header>
<ion-content>
  <div class="container-lg py-3 py-lg-5">
    <h1 class="fw-800 fs-30 m-0">Product Detail</h1>
    <ion-row class="mt-3">
      <ion-col size="12" size-md="6" size-lg="4" class="pl-0">
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="assets/images/man.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="assets/images/pink.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="assets/images/darkpink.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="assets/images/tshirt.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <img src="assets/images/blueman.jpg" />
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper thumbSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="assets/images/man.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/pink.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/darkpink.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/tshirt.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/blueman.jpg" />
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="8">
        <ion-row>
          <ion-col size="12" class="pl-0">
            <div>
              <h2 class="color-dark fw-800 fs-30 m-0">Beautifully Design Dress</h2>
              <h2 class="fw-800 fs-30 color-gray">$30.00 - $40.00</h2>
            </div>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col size="12" size-lg="2" class="pl-0">
            <div class="d-flex">
              <h2 class="color-dark fw-800 fs-16 m-0 pr-14">Brands:</h2>
              <h2 class="color-dark fw-800 fs-16 m-0">TMS</h2>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="2" class="pl-0">
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
          </ion-col>
          <ion-col size="12" size-lg="5" class="pl-0">
            <div class="d-flex">
              <h2 class="color-dark fw-800 fs-16 m-0 pl-md-10">4 Review(s) | Add Your Review</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="pl-0">
            <ion-text class="fs-16 fw-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor
              incididunt ut
              labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolo</ion-text>
          </ion-col>
        </ion-row>
        <hr>
        <div>
          <h2 class="fw-800 fs-18">COLOR</h2>
          <div class="d-flex">
            <ion-buttons class="action-btn1" [ngClass]="color === 'brown'?'border-class':''" (click)="color='brown'">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6 ion-justify-content-center ion-align-items-center d-flex">Brown</ion-text>
            <ion-buttons class="action-btn2" [ngClass]="color === 'gray'?'border-class':''" (click)="color='gray'">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6 ion-justify-content-center ion-align-items-center d-flex">Gray</ion-text>
            <ion-buttons class="action-btn3" [ngClass]="color === 'red'?'border-class':''" (click)="color='red'">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6 ion-justify-content-center ion-align-items-center d-flex">Red</ion-text>
          </div>
        </div>
        <div>
          <h2 class="fw-800 fs-18">SIZE</h2>
          <ul class="p-0 d-flex">
            <li><button type="button" class="size-btn fs-16 fw-800" [ngClass]="size === 'xl'? 'active-class':''"
                (click)="size='xl'">XL</button></li>
            <li class="pl-10"><button type="button" class="size-btn fs-16 fw-800"
                [ngClass]="size === 'l'? 'active-class':''" (click)="size='l'">L</button></li>
            <li class="pl-10"><button type="button" class="size-btn fs-16 fw-800"
                [ngClass]="size === 'm'? 'active-class':''" (click)="size='m'">M</button></li>
            <li class="pl-10"><button type="button" class="size-btn fs-16 fw-800"
                [ngClass]="size === 'sm'? 'active-class':''" (click)="size='sm'">SM</button></li>
          </ul>
        </div>
        <ion-row>
          <ion-col size="12" size-lg="4" class="pl-0">
            <div class="quantity_input">
              <span (click)="changeDecrement()">-</span>
              <input class="input-number" type="number" [(ngModel)]="qty" (ngModelChange)="changeInputNumber()">
              <span (click)="changeIncrement()">+</span>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="4" class="pl-0">
            <ion-button class="dark-btn fs-14 fw-700 br-0 m-0" type="submit" (click)="addToCart();
              goTo('home/shopping')" shape="round">
              <ion-icon name="bag-outline" class="mr-10 pl-10">
              </ion-icon>ADD TO CART
            </ion-button>
          </ion-col>
        </ion-row>
        <div class="d-flex ion-align-items-center pl-0 mt-md-3 mt-lg-0">
          <ion-button class="black-btn" [color]="isFavorites ? 'danger':''" (click)="addRemoveFavorites()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-text class="pl-10">Add To Wishlist</ion-text>
        </div>
        <hr>
        <div class="d-flex mt-3">
          <h2 class="fw-800 fs-16 m-0">SKU:</h2>
          <ion-text class="pl-10">U2012</ion-text>
        </div>
        <div class="d-flex mt-3">
          <h2 class="fw-800 fs-16 m-0">Categories:</h2>
          <ion-text class="ml-3 pl-10">Dress,Handbag,T-shirts</ion-text>
        </div>
        <div class="d-flex mt-3">
          <h2 class="fw-800 fs-16 m-0">Tags:</h2>
          <ion-text class="ml-3 pl-10">Hot,Women</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="mt-4">
      <ion-col size="12" class="p-0">
        <div class="swiper mySwiper1">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of productList">
              <ion-card class="w-100 br-10 ion-padding m-0" style="border:1px solid #D0D0D0;">
                <div class="best-product-swiper-div swiper-div">
                  <img [src]="item.image" class="swiper-image-best w-100"
                    (click)="scrollToTop(); goTo('home/product-detail')">
                </div>
                <h3 class="fs-24 fw-600">{{item.title}}</h3>
                <ion-text class="fs-14 fw-400">{{item.product}}</ion-text>
              </ion-card><br>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>
