.mySwiper2 {
  height: 80%;
  width: 100%;
}

.thumbSwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.thumbSwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.thumbSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.cart-image-div {
  min-height: 600px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  .image-set {
    max-height: 450px;
    height: 100%;
  }
}

.button-native {
  border-radius: 10px !important;
}

.action-btn1 {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(204, 123, 74);
}

.action-btn2 {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(182, 184, 186);
  margin-left: 25px;
}

.action-btn3 {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(221, 51, 51);
  margin-left: 25px;

}

ul {
  list-style: none;
}

.active-class {
  background-color: #ce0b2b !important;
  color: white !important;
}

.border-class {
  border: 2px solid black;
}

.size-btn {
  border: 1px solid black;
  background-color: white;
  padding: 15px 10px;
  width: 50px;
}

.best-product-swiper-div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;


  .swiper-image-best {
    object-fit: contain;
  }
}

.quantity_input {
  height: 60px;
  padding: 0px 20px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;

}

.quantity_input span {
  color: black;
  line-height: 1;
  cursor: pointer;
  font-size: 30px;
  margin: 0px 10px;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media screen and (max-width:900px) {
  .quantity_input {
    height: 40px;
  }
}


@media screen and (max-width:480px) {
  .fs-30 {
    font-size: 26px;
  }

  .dark-btn {
    --padding-top: 20px;
    --padding-start: 10px;
    --padding-end: 20px;
    --padding-bottom: 20px;
  }

  .black-btn {
    --padding-start: 15px;
    --padding-end: 15px;
  }

    .quantity_input {
      margin-top: 0px;
      height: 45px;
      padding: 0px 11px;
      text-align: center;
      align-items: center;
      border-radius: 5px;
      display: inline-flex;
      justify-content: center;
      border: 2px solid black;
    }

}
