swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-image-div {
  min-height: 600px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  .image-set {
    max-height: 450px;
    height: 100%;
  }
}

.button-native {
  border-radius: 10px !important;
}

.action-btn1 {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(204, 123, 74);
}

.action-btn2 {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(182, 184, 186);
  margin-left: 25px;
}

.action-btn3 {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50px !important;
  background-color: rgb(221, 51, 51);
  margin-left: 25px;

}

ul {
  list-style: none;
}

.size-btn {
  border: 1px solid black;
  padding: 15px 10px;
  width: 50px;
  margin-left: 10px;
}

.best-product-swiper-div {
  height: 200px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;


  .swiper-image-best {
    object-fit: contain;
  }
}


@media screen and (max-width:480px) {
  .best-product-swiper-div {
    width: 285px;
  }
}
