<app-header></app-header>
<ion-content>
  <div class="container-lg">
    <h1 class="fw-800 fs-30">Product Detail</h1>
    <ion-row>
      <ion-col size="4">
        <div class="cart-image-div">
          <img src="./../../../assets/images/man.jpg" alt="" class="image-set">
        </div>
      </ion-col>
      <ion-col size="8" class="px-5">
        <ion-row>
          <ion-col size="12">
            <div>
              <h2 class="color-dark fw-800 fs-30 m-0">Beautifully Design Dress</h2>
              <h2 class="fw-800 fs-30 color-gray">$30.00 - $40.00</h2>
            </div>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col size="2">
            <div class="d-flex">
              <h2 class="color-dark fw-800 fs-16 m-0 pr-14">Brands:</h2>
              <h2 class="color-dark fw-800 fs-16 m-0">TMS</h2>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
          </ion-col>
          <ion-col size="4">
            <div class="d-flex">
              <h2 class="color-dark fw-800 fs-16 m-0 pl-10">4 Review(s) | Add Your Review</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolo</ion-text>
          </ion-col>
        </ion-row>
        <hr>
        <div>
          <h2 class="fw-800 fs-18">COLOR</h2>
          <div class="d-flex">
            <ion-buttons class="action-btn1">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6">Brown</ion-text>
            <ion-buttons class="action-btn2">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6">Gray</ion-text>
            <ion-buttons class="action-btn3">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6">Red</ion-text>
          </div>
        </div>
        <div>
          <h2 class="fw-800 fs-18">SIZE</h2>
          <ul class="">
            <li><button type="button" class="btn">XL</button></li>
            <!-- <li><button type="button">L</button></li>
            <li><button type="button">M</button></li>
            <li><button type="button">SM</button></li> -->
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>