<app-header></app-header>
<ion-content>
  <div class="container-lg">
    <h1 class="fw-800 fs-30">Product Detail</h1>
    <ion-row>
      <ion-col size="12" size-md="4">
        <div class="cart-image-div">
          <img src="assets/images/man.jpg" alt="" class="image-set">
        </div>
        <div class="swiper mySwiper mt-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="assets/images/pink.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="assets/images/darkpink.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="assets/images/tshirt.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="assets/images/blueman.jpg" alt="">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="8" class="px-md-5">
        <ion-row>
          <ion-col size="12">
            <div>
              <h2 class="color-dark fw-800 fs-30 m-0">Beautifully Design Dress</h2>
              <h2 class="fw-800 fs-30 color-gray">$30.00 - $40.00</h2>
            </div>
          </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col size="12" size-lg="2">
            <div class="d-flex">
              <h2 class="color-dark fw-800 fs-16 m-0 pr-14">Brands:</h2>
              <h2 class="color-dark fw-800 fs-16 m-0">TMS</h2>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="2">
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
          </ion-col>
          <ion-col size="12" size-lg="5">
            <div class="d-flex">
              <h2 class="color-dark fw-800 fs-16 m-0 pl-10">4 Review(s) | Add Your Review</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text class="fs-16 fw-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor
              incididunt ut
              labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolo</ion-text>
          </ion-col>
        </ion-row>
        <hr>
        <div>
          <h2 class="fw-800 fs-18">COLOR</h2>
          <div class="d-flex">
            <ion-buttons class="action-btn1">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6">Brown</ion-text>
            <ion-buttons class="action-btn2">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6">Gray</ion-text>
            <ion-buttons class="action-btn3">
              <ion-button>
              </ion-button>
            </ion-buttons>
            <ion-text class="ml-6">Red</ion-text>
          </div>
        </div>
        <div>
          <h2 class="fw-800 fs-18">SIZE</h2>
          <ul class="p-0 d-flex">
            <li><button type="button" class="size-btn fs-16 fw-800">XL</button></li>
            <li><button type="button" class="size-btn fs-16 fw-800">L</button></li>
            <li><button type="button" class="size-btn fs-16 fw-800">M</button></li>
            <li><button type="button" class="size-btn fs-16 fw-800">SM</button></li>
          </ul>
        </div>
        <div class="ion-align-items-center d-flex">
          <div class="br-0 quantity_input">
            <form>
              <span>-</span>
              <input class="input-number" type="text" value="2">
              <span>+</span>
            </form>
          </div>
          <ion-button expand="full" class="neon-btn fs-14 fw-700  br-0" color="dark" type="submit"
            (click)="goTo('cart')">
            <ion-icon name="bag-outline" class="mr-10 pl-10"></ion-icon>ADD TO CART
          </ion-button>
        </div>
        <div class="d-flex mt-3 ion-align-items-center ">
          <ion-button color="dark"><ion-icon name="heart-outline"></ion-icon></ion-button>
          <ion-text class="pl-10">Add To Wishlist</ion-text>
          <ion-button class="pl-10" color="dark"><ion-icon name="shuffle-outline"></ion-icon></ion-button>
          <ion-text class="pl-10">Compare</ion-text>
        </div>
        <hr>
        <div class="d-flex">
          <h2 class="fw-800 fs-16">SKU:</h2>
          <ion-text class="mt-3 pl-10">U2012</ion-text>
        </div>
        <div class="d-flex">
          <h2 class="fw-800 fs-16">Categories:</h2>
          <ion-text class="mt-3 ml-3 pl-10">Dress,Handbag,T-shirts</ion-text>
        </div>
        <div class="d-flex">
          <h2 class="fw-800 fs-16">Tags:</h2>
          <ion-text class="mt-3 ml-3 pl-10">Hot,Women</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col size="12">
        <div class="swiper mySwiper1">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of productList">
              <ion-card class="w-100 br-10 ion-padding">
                <div class="best-product-swiper-div">
                  <img [src]="item.image" class="swiper-image-best w-100">
                </div>
                <h3 class="fs-24 fw-600">{{item.title}}</h3>
                <ion-text class="fs-14 fw-400">{{item.product}}</ion-text>
              </ion-card><br>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>