@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

.h-50 {
  height: 50px;
}

.p-10 {
  padding: 10px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.pl-0 {
  padding-left: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-30 {
  padding-left: 30px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-7 {
  padding-top: 7px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important;
}

.pb-0 {
  padding-bottom: 0;
}

.pr-0 {
  padding-right: 0;
}

.ml-3 {
  margin-left: 3px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-7 {
  margin-left: 7px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-18 {
  margin-left: 18px;
}

.ml-26 {
  margin-left: 24px;
}

.ml-66 {
  margin-left: 66px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-10 {
  margin-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-14 {
  padding-right: 14px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-7 {
  margin-top: 7px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-8 {
  padding: 8px !important;
}

.m-6 {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-16 {
  margin-top: 16px;
}

.mt-50 {
  margin-top: 50px !important;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline-grid {
  display: inline-grid;

}

.text-align-center {
  text-align: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-v-center {
  display: flex;
  align-items: center;
}

.d-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-40 {
  font-size: 40px;
}

.fs-44 {
  font-size: 44px;
}

.fs-80 {
  font-size: 80px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.lh-10 {
  line-height: 10px
}

.lh-16 {
  line-height: 16px
}

.lh-18 {
  line-height: 18px;
}

.lh-24 {
  line-height: 24px
}

.lh-28 {
  line-height: 28px
}

.br-0 {
  border-radius: 0px;
}

.br-50 {
  border-radius: 50px !important;
}

.nav-link {
  color: white !important;
}

.float-right {
  float: right !important;
}

.align-end {
  text-align: end;
}

.no-underline {
  text-decoration: none !important;
}

.action-btn {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50px !important;
  justify-content: end !important;
}

.sc-ion-buttons-md-s ion-button:not(.button-round) {
  --border-radius: 100%;
  height: 38px;
  width: 38px;
}

.cursor-pointer {
  cursor: pointer;
}

// cartpage -shopping page css --------------------------

.main-row-bg {
  padding: 12px 30px;
  background-color: #f5f5f5;
}

input.custom {
  height: 60px;
  background-color: #f3f4f6;
}

ion-card-header {
  background-color: #f5f5f5;
}

.cart-image-div {
  min-height: 150px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  .image-set {
    max-height: 100px;
    height: 100%;
  }
}

.cart-close-btn {
  height: 45px;
  min-width: 45px;
  margin-right: 30px;
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: #f3f4f6;
}

.quantity_input {
  height: 60px;
  padding: 0px 20px;
  text-align: center;
  align-items: center;
  border-radius: 45px;
  display: inline-flex;
  justify-content: center;
  border: 2px solid #eceef2;
}

.quantity_input span {
  color: #ced9df;
  line-height: 1;
  cursor: pointer;
  font-size: 30px;
  margin: 0px 10px;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.quantity_input input {
  width: 100px;
  border: none;
  padding: 0px;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
}

// auth page css ----------------------------------

.login-input {
  .native-input.sc-ion-input-md {
    padding-left: 15px;
  }
}

.bg-yellow {
  background-color: rgb(255, 193, 86);
}

.page-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 480px center;
}

.neon-btn {
  height: 60px;
  border-radius: 4px;
}

ion-item {
  --background: #f0f2f1;
  --color: inherit;
}

.reg_form_wrap {
  margin: auto;
  max-width: 800px;
  border-radius: 4px;
  padding: 80px 100px;
  background-size: 100%;
  background-color: #f0f2f1;
}

.p-0 {
  padding: 0px;
}

.m-0 {
  margin: 0px;
}

@media screen and (max-width: 480px) {
  .p-sm-0 {
    padding: 0px;
  }

  .m-sm-0 {
    margin: 0px;
  }

  .neon-btn {
    height: 45px;
    border-radius: 4px;
  }

  .pt-140 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .p-md-0 {
    padding: 0px;
  }

  .m-md-0 {
    margin: 0px;
  }

  .reg_form_wrap {
    padding: 50px 30px;
  }

  .quantity_input {
    height: 50px;
    padding: 0px 10px;
  }

  .quantity_input input {
    width: 70px;
  }
}

.color-dark {
  color: #000000;
}

.color-gray {
  color: gray;
}
