.h-50 {
  height: 50px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-155 {
  padding-top: 155px !important;
  padding-bottom: 159px !important;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pl-0 {
  padding-left: 0;
}

.pl-30 {
  padding-left: 30px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-7 {
  padding-top: 7px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-140 {
  padding-top: 140px !important;
}

.pb-0 {
  padding-bottom: 0;
}

.pr-0 {
  padding-right: 0;
}

.ml-3 {
  margin-left: 3px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-7 {
  margin-left: 7px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-18 {
  margin-left: 18px;
}

.ml-26 {
  margin-left: 24px;
}

.ml-66 {
  margin-left: 66px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-10 {
  margin-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-14 {
  padding-right: 14px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-7 {
  margin-top: 7px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-8 {
  padding: 8px !important;
}

.m-6 {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-16 {
  margin-top: 16px;
}

.mt-50 {
  margin-top: 50px !important;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline-grid {
  display: inline-grid;

}

.text-align-center {
  text-align: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-v-center {
  display: flex;
  align-items: center;
}

.d-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}


.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.lh-10 {
  line-height: 10px
}

.lh-16 {
  line-height: 16px
}

.lh-18 {
  line-height: 18px;
}

.lh-24 {
  line-height: 24px
}

.lh-28 {
  line-height: 28px
}

.br-50 {
  border-radius: 50px !important;
}

.nav-link {
  color: white !important;
}

.float-right {
  float: right !important;
}

.align-end {
  text-align: end;
}

.action-btn {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50px !important;
}

.sc-ion-buttons-md-s ion-button:not(.button-round) {
  --border-radius: 100%;
  height: 38px;
  width: 38px;
}

.login-input {
  .native-input.sc-ion-input-md {
    padding-left: 15px;
  }
}

.bg-yellow {
  background-color: rgb(255, 193, 86);
}


// ion-accordion.accordion-animated>[slot=header] .ion-accordion-toggle-icon {
//   display: none;
// }
