.container-lg {
  max-width: 1630px;
}

.bg-black {
  background-color: rgb(19, 19, 21) !important;
}

.swiper-padding {
  display: flex;
  padding: 90px 50px;
  align-items: center;
}

.item-image {
  min-height: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ededed;
  background-color: #ffffff;
  margin-bottom: 13px;

  .camera-image-height {
    max-height: 150px;
    height: 100%;
  }
}

.card-sidebar {
  padding: 40px 30px;
  border: 2px solid #ededed;
  background-color: #fcfcfc;
}


ion-checkbox {
  --size: 25px;
  --checkbox-background-checked: #007bff;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #e6e6e6;
}

.product-item {
  width: 100%;
  max-height: 100%;
  height: 340px;
  padding: 15px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

@media screen and (max-width: 480px) {
  .swiper-padding {
    padding: 30px;
  }

  .card-sidebar {
    padding: 20px 20px;
  }

  .mr-10 {
    margin-right: 0px;
  }

  .px-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .danger-btn {
    --padding-top: 5px;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 5px;
  }
}
