<app-header></app-header>
<ion-content>
  <section>
    <div class="container-lg">
      <ng-container *ngIf="pageType == 'shop'">
        <ion-row class="py-3 py-lg-4">
          <ion-col size="12" sizeMd="6" sizeLg="6">
            <div class="d-flex ion-align-items-center ">
              <ion-text class="fs-20 fw-500 cursor-pointer" color="dark" (click)="goTo('home')">
                Home
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-15 px-10" color="primary"></ion-icon>
              <ion-text class="fs-20 fw-500 cursor-pointer" color="dark">
                Shop Page
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="pageType == 'search'">
        <div class=" pt-3 pt-lg-5">
          <ion-searchbar class="p-1 search-page-searchbar" color="light" mode="ios" [(ngModel)]="globalSearchValue"
            (ionInput)="changeSearchValue($event)"></ion-searchbar>
        </div>
      </ng-container>

      <ion-row class="order-last order-lg-0">
        <ion-col size="12" sizeMd="12" sizeLg="3" *ngIf="!globalSearchValue">
          <div class="card-sidebar m-0">
            <div>
              <ion-accordion-group [multiple]="true" [value]="['first']">
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label class="fs-20 fw-600">ALL CATEGORIES</ion-label>
                  </ion-item>
                  <div class="ion-padding cursor-pointer" slot="content">
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="changeTouchValue($event)" value="Camera">Camera
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="changeTouchValue($event)" value="Shirt">Shirt
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="changeTouchValue($event)"
                        value="Raincoat">Raincoat
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="changeTouchValue($event)" value="Pent">Pent
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="changeTouchValue($event)" value="Sorts">Sorts
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="changeTouchValue($event)" value="Light">Light
                      </ion-checkbox>
                    </div>
                  </div>
                </ion-accordion>
                <ion-accordion value="second">
                  <ion-item slot="header" color="light">
                    <ion-label class="fs-20 fw-600">PRICE</ion-label>
                  </ion-item>
                  <div class="ion-padding cursor-pointer" slot="content">
                    <input type="range" class="w-100" [(ngModel)]="priceRangeValue" (change)="filterData()">
                    <div>
                      <ion-text class="fs-18 fw-600" color="primary">Price: &nbsp;&nbsp;<span class="text-dark"
                          *ngIf="priceRangeValue">
                          ${{ priceRangeValue * 10 }}</span></ion-text>
                    </div>
                  </div>
                </ion-accordion>
                <ion-accordion value="third">
                  <ion-item slot="header" color="light">
                    <ion-label class="fs-20 fw-600">BRANDS</ion-label>
                  </ion-item>
                  <div class="ion-padding cursor-pointer" slot="content">
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="onChangeBrands($event)" value="Canon">Canon
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="onChangeBrands($event)" value="PeterEngland">Peter
                        England</ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="onChangeBrands($event)"
                        value="BABA">BABA</ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="onChangeBrands($event)" value="RICHLOOK">RICHLOOK
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="onChangeBrands($event)" value="Happywomen">Happy
                        women
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" (ionChange)="onChangeBrands($event)" value="Ujala">Ujala
                      </ion-checkbox>
                    </div>
                  </div>
                </ion-accordion>
                <ion-accordion value="fourth">
                  <ion-item slot="header" color="light">
                    <ion-label class="fs-20 fw-600">COLORS</ion-label>
                  </ion-item>
                  <div class="ion-padding cursor-pointer" slot="content">
                    <div>
                      <ion-checkbox labelPlacement="end" value="Black" (ionChange)="onChangeColors($event)">Black
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" value="White" (ionChange)="onChangeColors($event)">White
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" value="Blue"
                        (ionChange)="onChangeColors($event)">Blue</ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" value="Green" (ionChange)="onChangeColors($event)">Green
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" value="Yellow" (ionChange)="onChangeColors($event)">Yellow
                      </ion-checkbox>
                    </div>
                    <div>
                      <ion-checkbox labelPlacement="end" value="Grey"
                        (ionChange)="onChangeColors($event)">Grey</ion-checkbox>
                    </div>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="9" class="px-lg-4">
          <div *ngIf="ProductList && ProductList.length <= 0">
            <h3 class="fs-16 fw-400 text-muted">No data found</h3>
          </div>
          <ion-row>
            <ion-col size="12" sizeMd="4" class="p-0" *ngFor="let item of ProductList">
              <div class="product-item cursor-pointer" (click)="goTo('home/product-detail')">
                <div class="item-image" style="background-color: #f2f2f2;">
                  <img [src]="item.image" class="camera-image-height">
                </div>
                <div>
                  <ion-text class="fs-13">{{item.title}}</ion-text>
                </div>
                <div>
                  <h3 class="fs-17 fw-500 my-1">{{item.detail}}</h3>
                </div>
                <div>
                  <ion-text class="fs-17 text-dark">${{item.price}}</ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ProductList && ProductList.length > 0 && !globalSearchValue">
            <ion-col class="d-flex ion-justify-content-center py-3 py-md-5">
              <ion-button size="default" type="submit" class="danger-btn fs-18 fw-700 " (click)="addMore()">
                Load more
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>