<app-header></app-header>
<ion-content>
  <section>
    <div class="container-lg">
      <ion-row class="py-5">
        <ion-col size="12" sizeMd="6" sizeLg="6">
          <div class="d-flex ion-align-items-center ">
            <ion-text class="fw-500 cursor-pointer" color="dark" (click)="goTo('home')">
              Home
            </ion-text>
            <ion-icon name="chevron-forward-outline" class="fs-15 px-10" color="primary"></ion-icon>
            <ion-text class="fw-500 cursor-pointer" color="dark">
              Shop Page
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="12" size-lg="9">
          <div class="swiper mySwiper bg-black">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <ion-row class="swiper-padding">
                  <ion-col size="12" size-md="6" sizeLg="5">
                    <div class="mr-10">
                      <img src="../../../assets/images/shop_image.png" alt="">
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="6" sizeLg="7" class="ion-text-left mt-3 mt-lg-0 ">
                    <div>
                      <ion-text class="fs-20 fw-500" [color]="'secondary'"> $165.00</ion-text>
                      <h3 class="text-light fs-30 fw-700 mt-0">Virtual Reality Headsets</h3>
                      <p class="text-light fs-14">
                        Nullam dignissim elit ut urna rutrum, a fermentum mi auctor. Mauris efficitur magna orci, et
                        dignissim lacus scelerisque sit amet. Proin malesuada
                      </p>
                      <ion-button size="default" class="danger-btn fs-18 fw-700 ion-margin-top"
                        (click)="addToCart();
                        goTo('home/shopping')">
                        Add To Cart
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="swiper-slide">
                <ion-row class="swiper-padding">
                  <ion-col size="12" size-md="6" sizeLg="5">
                    <div class="mr-10">
                      <img src="../../../assets/images/shop_image.png" alt="">
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="6" sizeLg="7" class="ion-text-left  mt-3 mt-lg-0">
                    <div>
                      <ion-text class="fs-20 fw-500" [color]="'secondary'"> $165.00</ion-text>
                      <h3 class="text-light fs-30 fw-700 mt-0">Virtual Reality Headsets</h3>
                      <p class="text-light fs-14">
                        Nullam dignissim elit ut urna rutrum, a fermentum mi auctor. Mauris efficitur magna orci, et
                        dignissim lacus scelerisque sit amet. Proin malesuada
                      </p>
                      <ion-button size="default" class="danger-btn fs-18 fw-700 ion-margin-top"
                        (click)="goTo('home/shopping')">
                        Add To Cart
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="swiper-slide">
                <ion-row class="swiper-padding">
                  <ion-col size="12" size-md="6" sizeLg="5">
                    <div class="mr-10">
                      <img src="../../../assets/images/shop_image.png" alt="">
                    </div>
                  </ion-col>
                  <ion-col size="12" size-md="6" sizeLg="7" class="ion-text-left  mt-3 mt-lg-0">
                    <div>
                      <ion-text class="fs-20 fw-500" [color]="'secondary'"> $165.00</ion-text>
                      <h3 class="text-light fs-30 fw-700 mt-0">Virtual Reality Headsets</h3>
                      <p class="text-light fs-14">
                        Nullam dignissim elit ut urna rutrum, a fermentum mi auctor. Mauris efficitur magna orci, et
                        dignissim lacus scelerisque sit amet. Proin malesuada
                      </p>
                      <ion-button size="default" class="danger-btn fs-18 fw-700 ion-margin-top"
                        (click)="goTo('home/shopping')">
                        Add To Cart
                      </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="3">
          <ion-row>
            <ion-col size="6" sizeMd="3" size-lg="6" *ngFor="let item of cameraList" class="pt-0">
              <div class="item-image cursor-pointer" (click)="goTo('home/product-detail')">
                <img [src]="item.image" class="camera-image-height">
              </div>
              <div>
                <h4 class="text-center fs-16 fw-700">{{item.title}}</h4>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="py-100 order-last order-lg-0">
        <ion-col size="12" sizeMd="12" sizeLg="3">
          <div class="card-sidebar ">
            <h3 class="fs-20 fw-700 mb-0">All Categories</h3>
            <div class="py-2">
              <hr>
            </div>
            <div>
              <ion-accordion-group>
                <ion-accordion value="first" expanded>
                  <ion-item slot="header" color="light">
                    <ion-label>Wearable Technology (84)</ion-label>
                  </ion-item>
                  <div class="p-1 cursor-pointer" slot="content">Lights</div>
                  <div class="p-1 cursor-pointer" slot="content">Raincoats</div>
                  <div class="p-1 cursor-pointer" slot="content">Shorts</div>
                  <div class="p-1 cursor-pointer" slot="content">Pants</div>
                  <div class="p-1 cursor-pointer" slot="content">Shirts</div>
                  <div class="p-1 cursor-pointer" slot="content">Tires</div>
                </ion-accordion>
                <ion-accordion value="second">
                  <ion-item slot="header" color="light">
                    <ion-label>Android VR (36)</ion-label>
                  </ion-item>
                  <div class="p-1 cursor-pointer" slot="content">Lights</div>
                  <div class="p-1 cursor-pointer" slot="content">Raincoats</div>
                  <div class="p-1 cursor-pointer" slot="content">Shorts</div>
                  <div class="p-1 cursor-pointer" slot="content">Pants</div>
                  <div class="p-1 cursor-pointer" slot="content">Shirts</div>
                  <div class="p-1 cursor-pointer" slot="content">Tires</div>
                </ion-accordion>
                <ion-accordion value="third">
                  <ion-item slot="header" color="light">
                    <ion-label>iOS VR (8)</ion-label>
                  </ion-item>
                  <div class="p-1 cursor-pointer" slot="content">Lights</div>
                  <div class="p-1 cursor-pointer" slot="content">Raincoats</div>
                  <div class="p-1 cursor-pointer" slot="content">Shorts</div>
                  <div class="p-1 cursor-pointer" slot="content">Pants</div>
                  <div class="p-1 cursor-pointer" slot="content">Shirts</div>
                  <div class="p-1 cursor-pointer" slot="content">Tires</div>
                </ion-accordion>
                <ion-accordion value="fourth">
                  <ion-item slot="header" color="light">
                    <ion-label>Video Consoles (18)
                    </ion-label>
                  </ion-item>
                  <div class="p-1 cursor-pointer" slot="content">Lights</div>
                  <div class="p-1 cursor-pointer" slot="content">Raincoats</div>
                  <div class="p-1 cursor-pointer" slot="content">Shorts</div>
                  <div class="p-1 cursor-pointer" slot="content">Pants</div>
                  <div class="p-1 cursor-pointer" slot="content">Shirts</div>
                  <div class="p-1 cursor-pointer" slot="content">Tires</div>
                </ion-accordion>
                <ion-accordion value="fifth">
                  <ion-item slot="header" color="light">
                    <ion-label>Accesories (31)</ion-label>
                  </ion-item>
                  <div class="p-1 cursor-pointer" slot="content">Lights</div>
                  <div class="p-1 cursor-pointer" slot="content">Raincoats</div>
                  <div class="p-1 cursor-pointer" slot="content">Shorts</div>
                  <div class="p-1 cursor-pointer" slot="content">Pants</div>
                  <div class="p-1 cursor-pointer" slot="content">Shirts</div>
                  <div class="p-1 cursor-pointer" slot="content">Tires</div>
                </ion-accordion>
              </ion-accordion-group>
            </div>
            <div class="mt-5">
              <h3 class="fs-20 fw-700 mb-0">FILTERS</h3>
              <div class="pt-2">
                <hr>
              </div>
              <div>
                <input type="range" value="50" class="w-100" (change)="changeRange($event)">
                <div>
                  <ion-text class="fs-18 fw-600" color="primary">Price: &nbsp;&nbsp;<span class="text-dark"
                      *ngIf="moveEnd">
                      ${{ moveEnd * 10 }}</span></ion-text>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <h3 class="fs-20 fw-700 mb-0">BRANDS</h3>
              <div class="py-2">
                <hr>
              </div>
              <div>
                <ion-checkbox labelPlacement="end" checked="true">Oculus Rift</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">Huawei</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">HTC</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">Samsung</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">Envato</ion-checkbox>
              </div>
            </div>
            <div class="mt-5">
              <h3 class="fs-20 fw-700 mb-0">COLORS</h3>
              <div class="py-2">
                <hr>
              </div>
              <div>
                <ion-checkbox labelPlacement="end" checked="true">Black</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">White</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">Blue</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">Green</ion-checkbox>
              </div>
              <div>
                <ion-checkbox labelPlacement="end">Yellow</ion-checkbox>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" sizeLg="9" class="px-4">
          <ion-row>
            <ion-col size="12" sizeMd="3" sizeLg="3" class="p-0" *ngFor="let item of ProductList">
              <div class="product-item cursor-pointer" (click)="goTo('home/product-detail')">
                <div class="item-image" style="background-color: #f2f2f2;">
                  <img [src]="item.image" class="camera-image-height">
                </div>
                <div>
                  <ion-text class="fs-13">{{item.title}}</ion-text>
                </div>
                <div>
                  <h3 class="fs-17 fw-500 my-1">{{item.detail}}</h3>
                </div>
                <div>
                  <ion-text class="fs-17 text-dark">{{item.price}}</ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="py-5 d-flex ion-justify-content-center">
              <ion-button size="default" type="submit" class="danger-btn fs-18 fw-700 ion-margin-top"
                (click)="addMore()">
                Load more
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <img src="../../../assets/images/shoppage-image.jpg">
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>
