.segment-btn {
  background-color: #f8f9fa;
  color: grey
}

.custom-input-set {
  input:focus {
    outline: none;
  }

  .custom-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    margin-top: 5px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .cart-image-div {
    min-height: 115px;
    min-width: 115px;
  }
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 10px;
  }

  .fs-30 {
    font-size: 23px;
  }

  .text-center {
    justify-content: center;
  }

  .ion-justify-content-center {
    justify-content: end !important;
  }

  .text-last {
    justify-content: end !important;
    display: flex;
  }
}
