
@media (min-width: 0px) and (max-width: 400px) {
  h1 {
    font-size: 22px !important;
  }

  .fs-18 {
    font-size: 17px !important;
  }

  .ml-10 {
    margin-left: 0px !important;
  }

  .fs-22 {
    font-size: 20px !important;
  }
}
