<app-header></app-header>
<ion-content [fullscreen]="true" [color]="'primary'">
  <div class="page-background">
    <div class="container card_ptb">
      <ion-card class="card-background card-img reg_form_wrap" [color]="'medium'">
        <ion-grid>
          <ion-row>
            <ion-col size-md="8" size-lg="8">
              <form>
                <div class="mb-40">
                  <h2 class="ion-text-center fs-34 fw-700 text-dark mt-0">FORGOT PASSWORD ?</h2>
                </div>
                <div class="login-input">
                  <ion-list class="ion-no-padding">
                    <ion-item class="ion-no-padding">
                      <ion-icon name="person-outline"></ion-icon>
                      <ion-input placeholder="Email"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="py-30">
                    <ion-button expand="block" class="neon-btn fs-14 fw-700" color="danger" type="submit">RESET PASSWORD
                    </ion-button>
                  </div>
                  <div class="d-flex ion-align-items-center ion-justify-content-center">
                    <ion-icon name="chevron-back-outline" class="fs-24"></ion-icon>
                    <ion-text class="fs-20 fw-600 cursor-pointer" color="primary" [routerLink]="['/auth/login']">
                      Back to Login
                    </ion-text>
                  </div>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>
