<app-header></app-header>
<ion-content [fullscreen]="true" [color]="'primary'">
  <div class="page-background">
    <div class="container p-lg-5 py-5">
      <ion-card class="card-background card-img reg_form_wrap p-4" [color]="'medium'">
        <ion-grid>
          <ion-row>
            <ion-col size-md="8" size-lg="8">
              <form [formGroup]="forgotForm" (ngSubmit)="onForgot()">
                <div class="mb-5">
                  <h2 class="ion-text-center fs-34 fw-700 text-dark mt-0">FORGOT PASSWORD </h2>
                </div>
                <div class="login-input">
                  <ion-list class="ion-no-padding">
                    <ion-item class="ion-no-padding">
                      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
                    </ion-item>
                  </ion-list>
                  <ion-text *ngIf="submitted && l.email.errors" class="text-danger">
                    <p *ngIf="submitted && l.email.errors.required">Email is required</p>
                    <p *ngIf="l.email.errors.pattern">Email must be a valid email
                      address </p>
                  </ion-text>
                  <div class="py-5">
                    <ion-button expand="block" shape="round" class="danger-btn fs-14 fw-700" type="submit">RESET
                      PASSWORD
                    </ion-button>
                  </div>
                  <div class="d-flex ion-align-items-center ion-justify-content-center">
                    <ion-icon name="chevron-back-outline" class="fs-24"></ion-icon>
                    <ion-text class="fs-20 fw-600 cursor-pointer" color="primary" [routerLink]="['/auth/login']">
                      Back to Login
                    </ion-text>
                  </div>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
