.bg-image {
  background-image: url('./../../assets/images/bg_13.jpg');
  background-size: cover;
}

h1 {
  color: #252525;
  font-size: 35px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

h3 {
  color: #000000;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}

.sub-div:hover {
  text-decoration: underline !important;
}

.danger-btn {
  --background: red;
  --background-hover: blue;
  --background-hover-opacity: 1;
  --color-hover: white;
}

.back-img {
  background-image: url('./../../assets/images/mobile.jpg');
  background-size: cover;
  padding: 25px;
}

.back-img-camera {
  background-image: url('./../../assets/images/backcamera.jpg');
  background-size: cover;
  padding: 25px;
}

.back-img-1 {
  background-image: url('./../../assets/images/slide1.jpeg');
  background-size: cover;
  padding: 25px;
  margin: 10px;

  &.two {
    background-image: url('./../../assets/images/slide2.jpeg');
  }

  &.three {
    background-image: url('./../../assets/images/slide3.jpeg');
  }
}


.back-img-game {
  background-image: url('./../../assets/images/game.jpg');
  background-size: cover;
  padding: 25px;
}

.padding-set-accesories {
  padding-bottom: 13px;
}

.item_title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: white
}

.bg-gray {
  background-color: #f5f6f9;
}

.item_icon {
  min-width: 30px;
  height: 30px;
  color: #2d2f30;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  margin-right: 15px;
  border-radius: 100%;
  background-color: #f1faff;
}

.back-img-orange {
  background-image: url('./../../assets/images/orange.jpg');
}

.back-img-blue {
  background-image: url('./../../assets/images/blue.jpg');
}

ion-card {
  --background: #f0f2f1;
  --color: inherit;
}

.left-side-camera-image {
  min-height: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .camera-image-height {
    max-height: 150px;
    height: 100%;
  }
}

.flash-deal-div {
  background-color: var(--ion-color-danger) !important;
}


.best-product-swiper-div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;


  .swiper-image-best {
    object-fit: contain;
  }
}

.best-seller-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #f5f6f9;
  padding: 25px;

  .seller-image-best {
    object-fit: contain;
    height: 200px;
  }
}

.best-product-card-div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;


  .image-best {
    max-height: 150px;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 27px;
  }
}
