<app-header></app-header>

<ion-content>
  <section color="dark" class="bg-image">
    <div class="container-lg">
      <ion-row class="py-5">
        <ion-col size="3" class="ion-hide-lg-down">
          <ion-card class="m-0">
            <ion-item color="danger">
              <ion-text class="d-flex ion-align-items-center">
                <ion-icon name="menu-outline" class="mr-10 fs-22"></ion-icon>ALL DEPARTMENTS
              </ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center fw-600 ml-18">
                <ion-icon class="mr-10 fs-22" name="gift-outline"></ion-icon>Free Gift Product
              </ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center fw-600 ml-18">
                <ion-icon class="mr-10 fs-22" name="journal-outline"></ion-icon>Trending Product
              </ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center fw-600 ml-18">
                <ion-icon class="mr-10 fs-22" name="woman-outline"></ion-icon>Discount Product
              </ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="medkit-outline"></ion-icon>Beauty & Health
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="woman-outline"></ion-icon>Women's Fashion
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="phone-portrait-outline"></ion-icon>Smart Phones &
                Tablets
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="game-controller-outline"></ion-icon>Computing & Gaming
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="home-outline"></ion-icon>Home & Living
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="diamond-outline"></ion-icon>Diamond
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="accessibility-outline"></ion-icon>Men
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
            <ion-item class="padding-set-accesories ion-no-padding">
              <ion-text class="d-flex ion-align-items-center ml-18">
                <ion-icon class="mr-10 fs-22" name="list-circle-outline"></ion-icon>Accesories
              </ion-text>
              <ion-icon name="chevron-forward-outline" class="fs-20 fw-700" slot="end"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size-md="12" size-lg="6">
          <div class="bg-yellow h-100">
            <div class="swiper mySwiper bg-yellow">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <ion-row class="pt-140">
                    <ion-col size="12" size-md="6" class="pl-30 ion-text-left">
                      <p class="fs-18 fw-200 mb-0">Sell to get what you love</p>
                      <h1 class="mt-0 fs-44">The Gift You are Wishing</h1>
                      <div class="d-flex">
                        <p class="mr-10 fs-16 fw-300 mb-0 mt-3">From</p>
                        <h1 class="m-0">$749</h1>
                      </div>
                      <ion-button size="default" class="danger-btn fs-18 fw-400 ion-margin-top" shape="round"
                        (click)="goTo('home/product-detail')">START
                        BUYING
                      </ion-button>
                    </ion-col>
                    <ion-col size="12" size-md="6">
                      <img src="./../../assets/images/camera.png" alt="">
                    </ion-col>
                  </ion-row>
                </div>
                <div class="swiper-slide">
                  <ion-row class="pt-140">
                    <ion-col size="12" size-md="6" class="pl-30 ion-text-left">
                      <p class="fs-18 fw-200 mb-0">Sell to get what you love</p>
                      <h1 class="mt-0 fs-44">The Gift You are Wishing</h1>
                      <div class="d-flex">
                        <p class="mr-10 fs-16 fw-300 mb-0 mt-3">From</p>
                        <h1 class="m-0">$749</h1>
                      </div>
                      <ion-button size="default" color="danger" class="danger-btn fs-18 fw-400 ion-margin-top"
                        shape="round">START
                        BUYING
                      </ion-button>
                    </ion-col>
                    <ion-col size="12" size-md="6">
                      <img src="./../../assets/images/camera.png" alt="">
                    </ion-col>
                  </ion-row>
                </div>
                <div class="swiper-slide">
                  <ion-row class="pt-140">
                    <ion-col size="12" size-md="6" class="pl-30 ion-text-left">
                      <p class="fs-18 fw-200 mb-0">Sell to get what you love</p>
                      <h1 class="mt-0 fs-44">The Gift You are Wishing</h1>
                      <div class="d-flex">
                        <p class="mr-10 fs-16 fw-300 mb-0 mt-3">From</p>
                        <h1 class="m-0">$749</h1>
                      </div>
                      <ion-button size="default" color="danger" class="danger-btn fs-18 fw-400 ion-margin-top"
                        shape="round" (click)="goTo('home/product-detail')">START
                        BUYING
                      </ion-button>
                    </ion-col>
                    <ion-col size="12" size-md="6">
                      <img src="./../../assets/images/camera.png" alt="">
                    </ion-col>
                  </ion-row>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="3">
          <ion-card class="back-img ion-padding mt-0 m-sm-0">
            <div class="item_title">
              <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
              <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
              <ion-label class="fs-16 fw-400">Price: $2915.99</ion-label><br>
              <ion-label class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                (click)="goTo('home/product-detail')">Pre : Order15Now
                <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon>
              </ion-label>
            </div>
          </ion-card>
          <ion-card class="back-img-camera mt-30 mb-0 m-sm-0">
            <div class="item_title">
              <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
              <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
              <ion-text class="fs-16 fw-400">Price :$298.99</ion-text><br>
              <ion-text class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                (click)="goTo('home/product-detail')">Pre : Order Now <ion-icon name="arrow-forward-outline"
                  class="ms-2"></ion-icon>
              </ion-text>
            </div>
          </ion-card>
          <ion-card class="back-img-game mt-30 mb-0 m-sm-0">
            <div class="item_title">
              <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
              <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
              <ion-text class="fs-16 fw-400">Price :$298.99</ion-text><br>
              <ion-text class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                (click)="goTo('home/product-detail')">Pre : Order Now <ion-icon name="arrow-forward-outline"
                  class="ms-2"></ion-icon>
              </ion-text>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <section class="bg-gray">
    <div class="container-lg">
      <div class="pt-3 py-md-5">
        <ion-card class="mt-0" style="border:1px solid #D0D0D0;">
          <ion-row class="p-4">
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-row>
                <ion-col size="3" class="mt-15">
                  <img src="./../../assets/images/car.png" alt="">
                </ion-col>
                <ion-col size="9">
                  <h3 class="fs-14 fw-800">FREE DELIVERY</h3>
                  <ion-text class="fs-14 fw-400">For all Order Over $120</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-row>
                <ion-col size="3" class="mt-15">
                  <img src="./../../assets/images/hand.png" alt="">
                </ion-col>
                <ion-col size="9">
                  <h3 class="fs-14 fw-800">FRIENDLY SERVICES</h3>
                  <ion-text class="fs-14 fw-400">30 day satisfaction</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-row>
                <ion-col size="3" class="mt-15">
                  <img src="./../../assets/images/message.png" alt="">
                </ion-col>
                <ion-col size="9">
                  <h3 class="fs-14 fw-800">24/7 HELP CENTER</h3>
                  <ion-text class="fs-14 fw-400">Dedicated 24/7 support</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-row>
                <ion-col size="3" class="mt-15">
                  <img src="./../../assets/images/payment.png" alt="">
                </ion-col>
                <ion-col size="9">
                  <h3 class="fs-14 fw-800">SAFE PAYMENT</h3>
                  <ion-text class="fs-14 fw-400">100% secure payment</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div>
        <ion-row>
          <ion-col size="12" size-lg="4">
            <ion-text class="fs-14 fw-400">A WIDE SECTION OF ITEMS</ion-text>
            <h1 class="mt-0 fs-44 fw-600">Top Flash Deal</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="swiper mySwiper1 ">
              <div class="swiper-wrapper">
                <div class="swiper-slide " *ngFor="let item of productList">
                  <ion-card class="w-100 br-10 ion-padding" (click)="goTo('home/product-detail')"
                    style="border:1px solid #D0D0D0;">
                    <div class="best-product-swiper-div swiper-div">
                      <img [src]="item.image" class="swiper-image-best w-100">
                    </div>
                    <h3 class="fs-24 fw-600">{{item.title}}</h3>
                    <ion-text class="fs-14 fw-400">{{item.product}}</ion-text>
                  </ion-card><br>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </section>
  <section>
    <div class="container-lg">
      <div class="py-md-5">
        <ion-row>
          <ion-col class="p-0" size="12" size-lg="3">
            <ion-card>
              <div class="flash-deal-div ion-padding">
                <p class="header fs-32 fw-600 mb-0 text-white">Top Flash Deal </p>
                <p class="header fs-16 fw-400 text-white">A wide selection of items</p>
              </div>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Best Deal</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">TV & Video</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Cameras</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Audio</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Cell Phones</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">GPS & Navi</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Computers</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Portable Audio</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Diamond</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Cell Phones</ion-text>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-text class="ml-18">Accesories</ion-text>
              </ion-item>
            </ion-card>
            <div class="ion-padding d-none d-lg-block">
              <img src="assets/images/beg.png" />
            </div>
          </ion-col>
          <ion-col size="12" size-lg="9">
            <ion-row>
              <ion-col class="p-0" size="12" size-md="4" size-lg="3" *ngFor="let item of flashList">
                <ion-card (click)="goTo('home/product-detail')" style="border:1px solid #D0D0D0;">
                  <div class="bg-gray left-side-camera-image swiper-div">
                    <img [src]="item.image" class="camera-image-height">
                  </div>
                  <div class="p-3">
                    <ion-text color="danger">SPEAKERS</ion-text>
                    <h3>Wireless Audio System Multiroom</h3>
                    <h3>$1200</h3>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </section>
  <section class="bg-gray">
    <div class="container-lg">
      <div class="py-md-5">
        <ion-row>
          <ion-col size="12" size-lg="4">
            <ion-card class="back-img-1">
              <div class="item_title">
                <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
                <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
                <ion-label class="fs-16 fw-400">Price: $2915.99</ion-label><br>
                <ion-label class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                  (click)="goTo('home/product-detail')">Pre : Order15Now
                  <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon>
                </ion-label>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-lg="4">
            <ion-card class="back-img-1 two">
              <div class="item_title">
                <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
                <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
                <ion-text class="fs-16 fw-400">Price :$298.99</ion-text><br>
                <ion-text class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                  (click)="goTo('home/product-detail')">Pre : Order Now
                  <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-lg="4">
            <ion-card class="back-img-1 three">
              <div class="item_title">
                <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
                <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
                <ion-text class="fs-16 fw-400">Price :$298.99</ion-text><br>
                <ion-text class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                  (click)="goTo('home/product-detail')">Pre : Order Now
                  <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="container-lg">
      <div class="pt-0 py-5">
        <ion-row>
          <ion-col size="12" size-lg="5">
            <ion-text>A WIDE SECTION OF ITEMS</ion-text>
            <h1 class="mt-0">Bestseller Products</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="p-0" size-md="6" size-lg="4" *ngFor="let item of BestproductList">
            <ion-card class="mt-1 m-md-0" style="border:1px solid #D0D0D0;">
              <ion-row class="p-4">
                <ion-col size="12" size-md="6">
                  <div class="best-seller-product swiper-div">
                    <img [src]="item.image" alt="" class="seller-image-best">
                  </div>
                </ion-col>
                <ion-col size="12" size-md="6" class="pl-5">
                  <ion-badge class="py-7" style="background-color: rgb(0, 98, 189);">Watch</ion-badge>
                  <div class="d-flex py-7">
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                  </div>
                  <h3 class="m-0">Relogio Masculino Watches</h3>
                  <div class="d-flex py-7">
                    <ion-button shape="rounded" color="danger" (click)="goTo('home/product-detail')">Start
                      Buying</ion-button>
                  </div>
                  <div class="d-flex py-7">
                    <div class="item_icon">
                      <ion-icon name="calendar-outline"></ion-icon>
                    </div>
                    <ion-text>Estimated delivery Time:21-39days</ion-text>
                  </div>
                  <div class="d-flex py-7">
                    <div class="item_icon">
                      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    </div>
                    <ion-text>Total :1327 orders</ion-text>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-row>
          <ion-col size="12" size-lg="6" class="p-0">
            <ion-card class="back-img-orange">
              <div class="item_title p-4">
                <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
                <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
                <ion-label class="fs-16 fw-400">Price: $2915.99</ion-label><br>
                <ion-label class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                  (click)="goTo('home/product-detail')">Pre : Order15Now
                  <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon>
                </ion-label>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-lg="6" class="p-0">
            <ion-card class="back-img-blue">
              <div class="item_title p-4">
                <h5 class="mb-0 fs-16 fw-500">Smart Phone BestSeller</h5>
                <h5 class="pt-0 mt-0 fs-16 fw-500">Product 2019</h5>
                <ion-label class="fs-16 fw-400">Price: $2915.99</ion-label><br>
                <ion-label class="mt-1 fs-16 fw-600 d-flex ion-align-items-center sub-div" role="button"
                  (click)="goTo('home/product-detail')">Pre : Order15Now
                  <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon>
                </ion-label>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </section>
  <section class="bg-gray pb-5">
    <div class="container-lg">
      <ion-row class="pt-md-5">
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-text>A WIDE SECTION OF ITEMS</ion-text>
          <h1 class="mt-0">Bestseller Products</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of sellerList">
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-card class="m-0" style="border:1px solid #D0D0D0;" (click)="goTo('home/product-detail')">
                <div class="best-product-card-div swiper-div">
                  <img [src]="item.image" alt="" class="image-best">
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6" class="mt-10 mt-md-0">
              <ion-text>Speaker</ion-text>
              <h3 style="color: rgb(0, 98, 189);">Red Wireless Headphone Solo 2 HD</h3>
              <ion-text>$ 2100</ion-text>
              <div class="d-flex py-7">
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>
