swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image {
  background-image: url('./../../assets/images/bg_13.jpg');
  background-size: cover;
}

h1 {
  color: #252525;
  font-size: 44px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

h2 {
  color: #000000;
  line-height: 1;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}

h3 {
  color: #000000;
  line-height: 1;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}

.danger-btn {
  height: 50px;
  width: 190px;
}

.back-img {
  background-image: url('./../../assets/images/mobile.jpg');
  background-size: cover;
  padding: 25px;
}

.back-img-camera {
  background-image: url('./../../assets/images/backcamera.jpg');
  background-size: cover;
  padding: 25px;
}

.back-img-1 {
  background-image: url('./../../assets/images/slide1.jpeg');
  background-size: cover;
  padding: 25px;

  &.two {
    background-image: url('./../../assets/images/slide2.jpeg');
  }

  &.three {
    background-image: url('./../../assets/images/slide3.jpeg');
  }
}


.back-img-game {
  background-image: url('./../../assets/images/game.jpg');
  background-size: cover;
  padding: 25px;
}

.padding-set-accesories {
  padding-bottom: 13px;
}

.item_title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: white
}

.bg-gray {
  background-color: #f5f6f9;
}

.item_icon {
  min-width: 30px;
  height: 30px;
  color: #2d2f30;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  margin-right: 15px;
  border-radius: 100%;
  background-color: #f1faff;
}

.back-img-orange {
  background-image: url('./../../assets/images/orange.jpg');
}

.back-img-blue {
  background-image: url('./../../assets/images/blue.jpg');
}

// .cap-section {
//   border: 1px solid rgb(106, 106, 106);
//   height: 500px;

//   .cap-section-left {
//     width: 0;
//     height: 0;
//     border-bottom: 500px solid;
//     border-right: 100px solid transparent;
//   }

//   .cap-image-set {
//     position: absolute;
//     margin-left: -50%;
//   }
// }

// .header {
//   color: white;
// }


.left-side-camera-image {
  min-height: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .camera-image-height {
    max-height: 150px;
    height: 100%;
  }
}

.flash-deal-div {
  background-color: var(--ion-color-danger) !important;
}


.best-product-swiper-div {
  height: 200px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;


  .swiper-image-best {
    object-fit: contain;
  }
}

.best-seller-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 170px;
  background-color: #f5f6f9;
  padding: 25px;

  .seller-image-best {
    object-fit: contain;
    height: 200px;
  }
}

.best-product-card-div {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;


  .image-best {
    max-height: 150px;
    height: 100%;
  }
}


@media screen and (max-width:900px) {
  .best-product-card-div {
    width: 185px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  .best-product-swiper-div {
    width: 273px;
  }

  .best-seller-product {
    width: 275px;
  }

  .best-product-card-div {
    width: 319px;
  }
}
