<app-header></app-header>
<ion-content>
  <section color="dark" class="bg-image">
    <div class="container-lg">
      <ion-row class="py-50">
        <ion-col size="3">
          <ion-card class="m-0">
            <ion-item color="danger">
              <ion-text><ion-icon name="menu-outline" class="mr-10"></ion-icon>ALL DEPARTMENTS</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="gift-outline"></ion-icon>Free Gift Product</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="journal-outline"></ion-icon>Trending Product</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="woman-outline"></ion-icon>Discount Product</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="medkit-outline"></ion-icon>Beauty & Health</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="woman-outline"></ion-icon>Women's Fashion</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="phone-portrait-outline"></ion-icon>Smart Phones &
                Tablets</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="game-controller-outline"></ion-icon>Computing & Gaming</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="home-outline"></ion-icon>Home & Living</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="diamond-outline"></ion-icon>Diamond</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="accessibility-outline"></ion-icon>Men</ion-text>
            </ion-item>
            <ion-item>
              <ion-text><ion-icon class="mr-10" name="list-circle-outline"></ion-icon>Accesories</ion-text>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <div class="bg-yellow h-100">
            <div class="swiper mySwiper bg-yellow">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <ion-row class="pt-140">
                    <ion-col size="6" class="pl-30 ion-text-left">
                      <p>Sell to get what you love</p>
                      <h1>The Gift You are Wishing</h1>
                      <div class="d-flex">
                        <p class="mr-10">From</p>
                        <h1 class="m-0">$749</h1>
                      </div>
                      <ion-button size="default" color="danger" class="danger-btn">START BUYING</ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <img src="./../../assets//images/camera.png" alt="">
                    </ion-col>
                  </ion-row>
                </div>
                <div class="swiper-slide">
                  <ion-row class="pt-140">
                    <ion-col size="6" class="pl-30 ion-text-left">
                      <p>Sell to get what you love</p>
                      <h1>The Gift You are Wishing</h1>
                      <div class="d-flex">
                        <p class="mr-10">From</p>
                        <h1 class="m-0">$749</h1>
                      </div>
                      <ion-button size="default" color="danger" class="danger-btn">START BUYING</ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <img src="./../../assets//images/camera.png" alt="">
                    </ion-col>
                  </ion-row>
                </div>
                <div class="swiper-slide">
                  <ion-row class="pt-140">
                    <ion-col size="6" class="pl-30 ion-text-left">
                      <p>Sell to get what you love</p>
                      <h1>The Gift You are Wishing</h1>
                      <div class="d-flex">
                        <p class="mr-10">From</p>
                        <h1 class="m-0">$749</h1>
                      </div>
                      <ion-button size="default" color="danger" class="danger-btn">START BUYING</ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <img src="./../../assets//images/camera.png" alt="">
                    </ion-col>
                  </ion-row>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-card>
            <ion-card-content>
              <h5>Smart Phone BestSeller</h5>
              <h5>Product 2019</h5>
              <ion-text>Price :$298.99</ion-text><br>
              <ion-text>Pre : Order Now <ion-icon name="arrow-forward-outline"></ion-icon></ion-text>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </section>
</ion-content>