swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image {
  background-image: url('./../../assets/images/bg_13.jpg');
  background-size: cover;
}

h1 {
  color: #252525;
  font-size: 44px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.danger-btn {
  height: 50px;
  width: 190px;
}
