<section class="bg_black ion-hide-lg-down">
  <div class="container py-5">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="4" sizeLg="4">
          <div>
            <img src="assets/images/logo.png" alt="neonCart">
          </div>
          <div>
            <ion-text>Discover new ways to dress this spring with a selection of the best designer jackets.Discover
              new
              ways to
              dress this spring</ion-text>
          </div>
        </ion-col>
        <ion-col size="12" sizeMd="3" sizeLg="2">
          <div>
            <h3>Information</h3>
          </div>
          <div>
            <span role="button" (click)="goTo('home/aboutus')">About Us</span><br>
            <span role="button" (click)="goTo('home/contact')">Contact Us</span><br>
          </div>
        </ion-col>
        <ion-col size="12" sizeMd="3" sizeLg="2">
          <div>
            <h3>Discover</h3>
          </div>
          <div>
            <span>Men</span><br>
            <span>Women</span><br>
            <span>Home & Living</span>
          </div>
        </ion-col>
        <ion-col size="12" sizeMd="2" sizeLg="3">
          <div>
            <h3>Contact</h3>
          </div>
          <div>
            <span>Follow Us On Instagram</span><br>
            <span>Add to Facebook</span><br>
            <span>Pinterest</span><br>
            <span>Google</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="py-5 ion-justify-content-center d-flex">
    <h2>© Neoncart - All rights Reserved</h2>
  </div>
</section>
