.contact_info {
  height: 70px;
  min-width: 70px;
  margin-right: 30px;
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: #f3f4f6;
}

.google-map {
  height: 500px;
}

input.custom {
  height: 50px;
  background-color: #f3f4f6;
}

textarea.custom {
  background-color: #f3f4f6;
}


@media screen and (max-width: 820px) {
  .custom-margin {
    margin-top: 25px !important;
  }
}
